<% content_for :title, "SDFB: About" %>
<div id="container">
	<h1>About Six Degrees of Francis Bacon</h1>
	<table width="818" border="2">
		<tr>
			<td><a href="#0.1_overview">Overview</a><a href="#0.1_"></a></td>
			<td><a href="#0.1_0.2_citation">Citation</a></td>
			<td><a href="#0.1_0.2_data">Data</a></td>
			<td><a href="#0.1_0.2_techspecs">Technical Specs</a></td>
			<td><a href="#0.1_0.2_news">News</a></td>
			<td><a href="#0.1_0.2_team">Team</a></td>
			<td><a href="#0.1_0.2_publications">Publications</a></td>
			<td><a href="#0.1_0.2_support">Grants and Support</a></td>
		</tr>
	</table>
	<br>
		<div>
			<div>
				<%= image_tag "Pourbus_Francis_Bacon.jpg", size: "385x474", alt: "Francis Bacon" %>
			</div>
			<div>
				<a name="0.1_overview"></a>
				<h2>Project Overview</h2>
					<p><em>Six Degrees of Francis Bacon</em> is a digital reconstruction of the early modern social network (EMSN) that scholars and students from all over the world will be able to collaboratively expand, revise, curate, and critique. Historians and literary critics have long studied the way that early modern people associated with each other and participated in various kinds of formal and informal groups. By data-mining existing scholarship that describes relationships between early modern persons, documents, and institutions, we have created a unified, systematized representation of the way people in early modern England were connected. Unlike published prose, <em>Six Degrees</em> is extensible, collaborative, and interoperable: extensible in that actors and associations can always be added, modified, developed, or, removed; collaborative in that it synthesizes the work of many scholars; interoperable in that new work on the network is put into immediate relation to previously mapped relationships.</p>
			</div>
		</div>
	<div>    
	<a name="0.1_02_citation"></a>
	<h2>Citation</h2>
	<p>Please cite <em>Six Degrees of Francis Bacon</em> as follows:</p>
	<p><a href="http://www.sixdegreesoffrancisbacon.com/team" target="_blank">SDFB Team</a>, <em>Six Degrees of Francis Bacon: Reassembling the Early Modern Social Network</em>. www.sixdegreesoffrancisbacon.com (accessed date).</p>
	<p>Note: the basic website URL can be expanded by the addition of further path information, as our search strings and other URLs are intended to be stable.</p>
	<a name="0.1_0.2_data"></a>
	<h2>Project Data</h2>
	<p><em>Six Degrees of Francis Bacon</em> is pleased to share exploratory visualizations and data free of charge for use by other researchers for non-commercial purposes. Exploratory visualizations, however, should only be considered our best effort at the time of sharing. Data may contain errors and  results will be continuously updated. Our process is rigorously iterative. Use as you see fit, but at your own peril and without warranty. </p>
	<p>If you make use of Six of Degrees of Francis Bacon material, please cite our website <a href="http://www.sixdegreesoffrancisbacon.com" target="_blank">sixdegreesoffrancisbacon.com</a>. Please also tweet about any uses to <a href="https://twitter.com/6Bacon" target="_blank">@6Bacon</a> so we can be aware of how the material is used and so we can help promote your work. <em>Six Degrees</em> is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US" target="_blank">Creative Commons Attribution-NonCommercial-<WBR>ShareAlike 4.0 Unported License.</a></p>
	<p>To download the current data, first sign in to your account. Click the View Records link in the header to see a drop-down menu of the different data sets. Click to bring up the data set you&#39;re interested in, which you can then either browse online or click the Export button to download the data to your computer.</p>
	<a name="0.1_0.2_techspecs"></a>
	<h2>Technical Specs</h2>
		<p>The <em>Six Degrees of Francis Bacon</em> website includes the following platforms, libraries, and technologies:</p>
		<ul>
		  <li> <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a></li>
		  <li> <a href="https://github.com/ignacioola/insights" target="_blank">insights.js</a></li>
		  <li> <a href="http://d3js.org" target="_blank">d3.js</a></li>
		  <li> <a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
		</ul>
		<p>If you are interested in the underlying structure of our application, you can also check out our <a href='<%= asset_path "SDFB_ERD_12-10-15.pdf" %>'>Entity Relationship Diagram</a></p> (built via <a href="https://www.lucidchart.com" target="_blank">LucidChart</a>).
	<a name="0.1_0.2_news"></a>
	<h2>In the News</h2>
		<p><a href="http://6dfb.tumblr.com" target="_blank">Six Degrees of Francis Bacon blog</a></p>
		<p><a href="http://gizmodo.com/mapping-16th-century-social-networks-with-six-degrees-o-1739236038" target="_blank">Gizmodo</a></p>
		<p><a href="http://www.techtimes.com/articles/98954/20151023/carnegie-mellon-social-network-francis-bacon-georgetown-university.htm" target="_blank">Tech Times</a></p>
		<p><a href="https://www.timeshighereducation.com/humanities/six-degrees-francis-bacon-social-network-early-modern-britain" target="_blank">Times Higher Education</a></p>
		<p><a href="http://mentalfloss.com/article/70070/six-degrees-francis-bacon-shows-links-between-your-favorite-historical-figures" target="_blank">Mental Floss</a></p>
		<p><a href="http://www.dailymail.co.uk/sciencetech/article-3276520/Six-degrees-FRANCIS-BACON-Interactive-relationship-maps-shows-friends-friends-historical-figures.html?ITO=1490&ns_mchannel=rss&ns_campaign=1490" target="_blank">Daily Mail</a></p>
		<p><a href="http://www.futurity.org/six-degrees-of-francis-bacon-1026052-2/" target="_blank">Futurity</a></p>
		<p><a href="http://www.smithsonianmag.com/smart-news/move-over-kevin-six-degrees-francis-bacon-here-180956977/?no-ist" target="_blank">Smithsonian Magazine</a></p>
		<p><a href="http://www.cmu.edu/news/stories/archives/2015/october/francis-bacon-launch.html" target="_blank">Carnegie Mellon News</a></p>
		<p><a href="https://recipes.hypotheses.org/6594" target="_blank">The Recipes Project</a></p>
		<p><a href="http://www.pghcitypaper.com/Blogh/archives/2015/03/31/inaugural-pittsburgh-humanities-festival-wraps" target="_blank">Pittsburgh City Paper</a></p>				
	<a name="0.1_0.2_team"></a>
	<h2>Project Team</h2>
		<h2>Principal Investigators</h2>
			<p><a href="http://www.cmu.edu/hss/english/people/faculty/bios/warren-christopher.html" target="_blank">Christopher Warren</a>, Project Director, and Co-PI, is Associate Professor of English at Carnegie Mellon, associated with programs in Literary and Cultural Studies and Global Studies. He is interested in historical approaches to literary analysis, the literature and culture of early modern Britain, and diplomatic, legal, and commercial networks in early modern Europe. His book, <em>Literature and the Law of Nations, 1580-1680</em> (Oxford University Press, 2015), is a literary history of international law in early modern Britain. His articles have appeared in <em>English Literary Renaissance</em>, <em>The Seventeenth Century</em>, and the <em>European Journal of International Law</em>. Warren directs the Pittsburgh Consortium of Medieval and Renaissance Studies.</p>
			<p><a href="http://georgetown.academia.edu/DanielShore" target="_blank">Daniel Shore</a>, Co-PI, is Associate Professor of English at Georgetown University. He is currently completing his second book, <em>Cyberformalism</em>, which argues that full-text searchable archives make possible new objects of philological inquiry. His first book was <em>Milton and the Art of Rhetoric</em> (Cambridge, 2012), and he has published articles on early modern literature and on digital humanities research in <em>PMLA</em>, <em>Critical Inquiry</em>,<em>Modern Philology</em>, <em> Milton Studies</em>, <em>Milton Quarterly</em>, and <em>Early Modern Literary Studies</em>.</p>
			<p><a href="http://www.jessicaotis.com" target="_blank">Jessica Otis</a>, Co-PI, is a CLIR/DLF Postdoctoral Fellow in Data Curation for Early Modern Studies at Carnegie Mellon University.  She received both her MS in Mathematics and her PhD in History from the University of Virginia.  Her research focuses on the cultural history of mathematics and cryptography in early modern England.  She has presented her work at the annual meetings of the North American Conference of British Studies, the History of Science Society, and the Renaissance Society of America.</p>
			<p><a href="http://www.scottbot.net/HIAL/?page_id=172" target="_blank">Scott Weingart</a> is Carnegie Mellon’s Digital Humanities Specialist. His research focuses on early modern scholarly networks, and he has been a member of research teams at Oxford, Stanford, and Huygens ING in their pursuit of Republic of Letters digital projects. Weingart is a co-author of <em>The Historian’s Macroscope</em> (Imperial College Press), and his research has appeared in journals spanning history, philosophy, folklore, archaeology, digital humanities, informatics, and scientometrics.</p>
			<p><a href="http://www.stat.cmu.edu/~cshalizi/" target="_blank">Cosma Shalizi</a>, Co-PI, is an Associate Professor of Statistics at Carnegie Mellon University; also affiliated with the Machine Learning Department and the Center for the Neural Basis of Cognition at CMU, and an external faculty member of the Santa Fe Institute. He is a well-known expert on statistical inference in complex systems, particularly noted for his work on network analysis, and for his interdisciplinary work spanning statistics, physics, neurophysiology, political science, and economics.</p>
			<p>Lawrence Wang obtained his PhD degree in Statistics at Carnegie Mellon University. He is interested in network analysis and estimation, and in fast algorithms for statistical methods.</p>
			<p><a href="http://www.stat.cmu.edu/~mfinegol/" target="_blank">Mike Finegold</a>, Co-PI, is a Visiting Assistant Professor of Statistics at Carnegie Mellon University. Finegold’s expertise is in the area of social networks, including design of experiments, analysis of relationship strength, and network inference.</p>
		<h2>Affiliates</h2>
			<p><a href="http://www.english.qmul.ac.uk/staff/ahnertr.html" target="_blank">Ruth Ahnert</a> is Lecturer in Early Modern Studies at Queen Mary, University of London. She works on the literature and culture of the Tudor period, and has published variously on the topics of religious history, prison writing, epistolary culture and social networks. Ruth has recently completed her first monograph, The Rise of Prison Literature in the Sixteenth Century (Cambridge, forthcoming 2013). She is also a member of Council of the Society for Renaissance studies, and edits its twice-yearly Bulletin.</p>
			<p><a href="http://www.tcm.phy.cam.ac.uk/~sea31/" target="_blank">Sebastian Ahnert</a> is a Royal Society University Research Fellow in the Theory of Condensed Matter (TCM) group of the Cavendish Laboratory at the University of Cambridge, and a Fellow of King’s College, Cambridge. His main research lies at the interface between theoretical physics and biology, but he has also applied the tools of quantitative network analysis to datasets from the fields of neuroscience, food technology, and history. Sebastian has published work in journals such as Cell, Science, and the Journal of Neuroscience. He is one of the founders of the Cambridge Networks Network.</p>
		<h2>Advisory Board</h2>
			<p>David Armitage, MA, PhD, CorrFRSE, FRHistS, FAHA, Lloyd C. Blankfein Professor of History and Chair of the Department of History at Harvard University</p>
			<p>Lise Getoor, MS, PhD, Associate Professor, Department of Computer Science and University of Maryland Institute for Advanced Computer Studies</p>
			<p>Bethany Nowviskie, MA Ed, PhD, Director of the Digital Library Federation, Council on Library and Information Resources, and Research Associate Professor of Digital Humanities, University of Virginia</p>
			<p>Joad Raymond, D.Phil (Oxon), Professor of Renaissance Studies, School of English and Drama, Queen Mary, University of London</p>
			<p>Michael Witmore, PhD, Director of the Folger Shakespeare Library</p>
		<h2>Programmers</h2>
			<p>Numerous students programmers have worked on this project, primarily under the supervision of <a href="http://www.andrew.cmu.edu/user/sraja/" target="_blank">Raja Sooriamurthi</a>, Associate Teaching Professor of Information Systems at Carnegie Mellon University.</p>
			<p>These programmers include Katarina Shaw, Adetunji Olojede, Amiti Uttawar, Miko Bautista, Leonard Sokol, Ivy Chung, Sama Kanbour, Angela Qui, Chanamon Ratanalert, Ally Sorge, Katie Ramp, Jeremy Lee, Sky Krauthamer, Audrey Alpizar, Sherry Chen, Tommy Hung, Zaria Howard, David Gao, Max Harlynking, and Amy Li.</p>
			<p>Programming assistance has also been provided by Daniel J. Evans, Carnegie Mellon University's Digital Humanities Developer.</p>
	<a name="0.1_0.2_publications"></a>
	<h2>Publications</h2>
			<p>Warren, Christopher, Daniel Shore, Jessica Otis, Lawrence Wang, Mike Finegold, and Cosma Shalizi, "Six Degrees of Francis Bacon: A Statistical Method for Reconstructing Large Historical Social Networks", <em>Digital Humanities Quarterly</em>, forthcoming.</p>
			<p>Langmead, Alison, Jessica M. Otis, Christopher N. Warren, Scott B. Weingart, and Lisa D. Zilinski, "Towards Interoperable Network Ontologies for the Digital Humanities", <em>International Journal of Humanities and Arts Computing</em> Vol. 10, Issue 1 (Mar 2016): 22-35, DOI: http://dx.doi.org/10.3366/ijhac.2016.0157</p>
			<p>Project participants have also presented on <em>Six Degrees</em> in numerous scholarly and public venues, including the annual meetings of the American Historical Association, Modern Language Association, and History of Science Society; (Re)Building Medieval and Early Modern Networks at the University of Maryland; and the Pittsburgh Humanities Festival.</p>
	<a name="0.1_0.2_support"></a>
	<h2>Grants and Support</h2>
		<p><em>Six Degrees of Francis Bacon</em> has been made possible in part by a major grant from the National Endowment for the Humanities: Exploring the human endeavour. <em>Six Degrees</em> has also received generous support from the following funding bodies and awards programs:</p>
		<ul>
		  <li> The Council on Library and Information Systems (CLIR)</li>
		  <li> Google Faculty Research Awards</li>
		  <li> Falk Fellowships in the Humanities</li>
		  <li> Dietrich College of Humanities and Social Sciences, Carnegie Mellon University</li>
		  <li> Department of English, Carnegie Mellon University  </li>
		  <li> Department of Statistics, Carnegie Mellon University</li>
		  <li> Department of English, Georgetown University</li>
		</ul>
		<p>We gratefully acknowledge their support. </p>
		<p>We further acknowledge the Oxford Dictionary of National Biography, ed. H. C. G. Matthew and Brian Harrison (Oxford: OUP, 2004). Online ed., ed. Lawrence Goldman (2005-13), <a href="http://www.oxforddnb.com/" target="_blank">www.oxforddnb.com</a></p>
		<p><a href="http://www.neh.gov" target="_blank"><%= image_tag "neh_logo_horizontal_rgb.jpg", alt: "NEH" %></a><a href="http://www.oxforddnb.com" target="_blank"><%= image_tag "odnb.gif", alt: "ODNB" %></a></p>
</div>