<div id="container">
	<h1>About Six Degrees of Francis Bacon</h1>
	<table width="414" border="2">
		<tr>
			<td><a href="#0.1_overview">Overview</a><a href="#0.1_"></a></td>
			<td><a href="#0.2_data">Data</a></td>
			<td><a href="#0.2_news">Publications and News</a></td>
			<td><a href="#0.2_team">Team</a></td>
			<td><a href="#0.2_support">Grants and Support</a></td>
		</tr>
	</table>
	<br>
		<div class="row">
			<div class="col">
				<%= image_tag "Pourbus_Francis_Bacon.jpg", size: "385x474", alt: "Francis Bacon" %>
			</div>
			<div class="col">
				<a name="0.1_overview"></a>
				<h2>Project Overview</h2>
					<p><em>Six Degrees of Francis Bacon</em> (SDFB) is a digital reconstruction of the early modern social network (EMSN) that scholars and students from all over the world will be able to collaboratively expand, revise, curate, and critique. Historians and literary critics have long studied the way that early modern people associated with each other and participated in various kinds of formal and informal groups. By data-mining existing scholarship that describes relationships between early modern persons, documents, and institutions, we have created a unified, systematized representation of the way people in early modern England were connected. Unlike published prose, SDFB is extensible, collaborative, and interoperable: extensible in that actors and associations can always be added, modified, developed, or, removed; collaborative in that it synthesizes the work of many scholars; interoperable in that new work on the network is put into immediate relation to previously mapped relationships.</p>
			</div>
		</div>
	<div class="row">    
	<a name="0.2_data"></a>
	<h2>Project Data</h2>
	<p><em>Six Degrees of Francis Bacon</em> is pleased to share exploratory visualizations and data free of charge for use by other researchers for non-commercial purposes. Exploratory visualizations, however, should only be considered our best effort at the time of sharing. Data may contain errors and  results will be continuously updated. Our process is rigorously iterative. Use as you see fit, but at your own peril and without warranty. </p>
	<p>If you make use of Six of Degrees of Francis Bacon material, please cite our website <a href="http://www.sixdegreesoffrancisbacon.com" target="_blank">sixdegreesoffrancisbacon.com</a>. Please also tweet about any uses to <a href="https://twitter.com/6Bacon" target="_blank">@6Bacon</a> so we can be aware of how the material is used and so we can help promote your work. SDFB is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US" target="_blank">Creative Commons Attribution-NonCommercial-<WBR>ShareAlike 4.0 Unported License.</a></p>
	<p>Download the current:</p>
	<p>Node data (including SDFB IDs, names, birth/death dates, historical significance)</p>
	<p>Relationship data (indexed by SDFB IDs, including confidence estimates, relationship types, start/end dates)</p>
	<p>Group data (indexed by SDFB IDs, including group descriptions, start/end dates)</p>
	<a name="0.2_news"></a>
	<h2>Publications and News</h2>
		<p><a href="http://www.sixdegreesoffrancisbacon.com" target="_blank">Six Degrees of Francis Bacon blog</a></p>
		<p>Daniel Shore, <a href="http://college.georgetown.edu/collegenews/man-of-his-words.html" target="_blank">&quot;Man of His Words.&quot;</a></p>
		<p><a href="http://facultimedia.com/english-six-degrees-of-francis-bacon/" target="_blank">Faculti Media interview with Christopher Warren</a></p>
		<p><a href="http://news.yahoo.com/six-degrees-francis-bacon-links-early-modern-ideas-193548393.html" target="_blank">Yahoo News</a></p>
		<p><a href="http://www.buzzfeed.com/nowthisnews/six-degrees-of-francis-bacon-749g" target="_blank">BuzzFeed</a></p>
	<a name="0.2_team"></a>
	<h2>Project Team</h2>
		<h2>Principal Investigators</h2>
			<p><a href="http://www.cmu.edu/hss/english/people/faculty/bios/warren-christopher.html" target="_blank">Christopher Warren</a>, Project Director, and Co-PI, is Assistant Professor of English at Carnegie Mellon, associated with programs in Literary and Cultural Studies and Global Studies. He is interested in historical approaches to literary analysis, the literature and culture of early modern Britain, and diplomatic, legal, and commercial networks in early modern Europe. He has given invited talks at the Canada Milton Seminar and the New York University School of Law. His articles have appeared in <em>English Literary Renaissance</em>, <em>The Seventeenth Century</em>, and the <em>European Journal of International Law</em>. Warren directs the Pittsburgh Consortium of Medieval and Renaissance Studies.</p>
			<p><a href="http://www.stat.cmu.edu/~mfinegol/" target="_blank">Mike Finegold</a>, Co-PI, is a Visiting Assistant Professor of Statistics at Carnegie Mellon University. Finegold’s expertise is in the area of social networks, including design of experiments, analysis of relationship strength, and network inference.</p>
			<p><a href="https://carnegie-mellon.academia.edu/JessicaOtis" target="_blank">Jessica Otis</a>, Co-PI, is a CLIR/DLF Postdoctoral Fellow in Data Curation for Early Modern Studies at Carnegie Mellon University.  She received both her MS in Mathematics and her PhD in History from the University of Virginia.  Her research focuses on the cultural history of mathematics and cryptography in early modern England.  She has presented her work at the annual meetings of the North American Conference of British Studies, the History of Science Society, and the Renaissance Society of America.</p>
			<p><a href="http://www.stat.cmu.edu/~cshalizi/" target="_blank">Cosma Shalizi</a>, Co-PI, is an Associate Professor of Statistics at Carnegie Mellon University; also affiliated with the Machine Learning Department and the Center for the Neural Basis of Cognition at CMU, and an external faculty member of the Santa Fe Institute. He is a well-known expert on statistical inference in complex systems, particularly noted for his work on network analysis, and for his interdisciplinary work spanning statistics, physics, neurophysiology, political science, and economics.</p>
			<p><a href="http://georgetown.academia.edu/DanielShore" target="_blank">Daniel Shore</a>, Co-PI, is Assistant Professor of English at Georgetown University. His first book is Milton and the Art of Rhetoric (Cambridge, 2012), and he has published articles on early modern literature and on digital humanities research in <em>PMLA</em>, <em>Critical Inquiry</em>,<em> Milton Studies</em>, and <em>Milton Quarterly</em>.</p>
			<p>Lawrence Wang is pursuing his PhD degree in Statistics  at Carnegie Mellon University. He is interested in network analysis and estimation, and in fast algorithms  for statistical methods.</p>
			<p><a href="http://www.english.qmul.ac.uk/staff/ahnertr.html" target="_blank">Ruth Ahnert</a>, Co-PI, is Lecturer in Early Modern Studies at Queen Mary, University of London. She works on the literature and culture of the Tudor period, and has published variously on the topics of religious history, prison writing, epistolary culture and social networks. Ruth has recently completed her first monograph, The Rise of Prison Literature in the Sixteenth Century (Cambridge, forthcoming 2013). She is also a member of Council of the Society for Renaissance studies, and edits its twice-yearly Bulletin.</p>
			<p><a href="http://www.tcm.phy.cam.ac.uk/~sea31/" target="_blank">Sebastian Ahnert</a>, Co-PI, is a Royal Society University Research Fellow in the Theory of Condensed Matter (TCM) group of the Cavendish Laboratory at the University of Cambridge, and a Fellow of King’s College, Cambridge. His main research lies at the interface between theoretical physics and biology, but he has also applied the tools of quantitative network analysis to datasets from the fields of neuroscience, food technology, and history. Sebastian has published work in journals such as Cell, Science, and the Journal of Neuroscience. He is one of the founders of the Cambridge Networks Network.</p>
		<h2>Advisory Board</h2>
			<p>David Armitage, MA, PhD, CorrFRSE, FRHistS, FAHA, Lloyd C. Blankfein Professor of History and Chair of the Department of History at Harvard University</p>
			<p>Lise Getoor, MS, PhD, Associate Professor, Department of Computer Science and University of Maryland Institute for Advanced Computer Studies</p>
			<p>Joad Raymond, D.Phil (Oxon), Professor of Renaissance Studies, School of English and Drama, Queen Mary, University of London</p>
			<p>Michael Witmore, PhD, Director of the Folger Shakespeare Library</p>
		<h2>Programmers</h2>
			<p>Numerous students programmers have worked on this project, primarily under the supervision of Raja Sooriamurthi, Associate Teaching Professor of Information Systems at Carnegie Mellon University.</p>
			<p>These programmers include Katarina Shaw, Adetunji Olojede, Amiti Uttawar, Miko Bautista, Leonard Sokol, Ivy Chung, Sama Kanbour, Angela Qui, Chanamon Ratanalert, Ally Sorge, Katie Ramp, Ethan Chan, and Jeremy Lee.</p>
	<a name="0.2_support"></a>
	<h2>Grants and Support</h2>
		<p><em>Six Degrees of Francis Bacon</em> has received generous support from the following funding bodies and awards programs:</p>
		<ul>
		  <li> The Council on Library and Information Systems (CLIR)</li>
		  <li> Google Faculty Research Awards</li>
		  <li> Falk Fellowships in the Humanities</li>
		  <li> Dietrich College of Humanities and Social Sciences, Carnegie Mellon University</li>
		  <li> Department of English, Carnegie Mellon University  </li>
		  <li> Department of Statistics, Carnegie Mellon University</li>
		  <li> Department of English, Georgetown University</li>
		</ul>
		<p>We gratefully acknowledge their support. </p>
		<p>We further acknowledge the Oxford Dictionary of National Biography, ed. H. C. G. Matthew and Brian Harrison (Oxford: OUP, 2004). Online ed., ed. Lawrence Goldman (2005-13), <a href="http://www.oxforddnb.com/" target="_blank">www.oxforddnb.com</a></p>
		<p><a href="http://www.oxforddnb.com" target="_blank"><%= image_tag "odnb.gif", alt: "ODNB" %></a></p>
</div>