<% content_for :title, "SDFB: Teaching Guide" %>
<div id="container">
	<h1>Teaching Guides</h1>

	<p>SDFB can be used in a classroom environment to enrich students' knowledge of early modern England. It can also be used to encourage students to read their assigned materials carefully and transfer knowledge from primary and secondary sources into a digital environment.</p>
	<p>One example of how SDFB might be incorporated into a semester-long undergraduate course syllabus can be found <a href="https://www.academia.edu/14626037/Six_Degrees_of_Francis_Bacon_Classroom_Assignment" target="_blank">here</a>.</p>
	<p>Future examples will be forthcoming.</p>
</div>
