<% content_for :title, "SDFB: Teaching Guide" %>
<div id="container">
	<h1>Teaching Guides</h1>
	<div>
		<p><em>Six Degrees</em> can be used in a classroom environment to enrich students' knowledge of early modern England. In addition to helping them contextualize the historical figures they encounter in course materials, it can also be used to encourage students to read their assigned materials carefully and transfer knowledge from primary and secondary sources into a digital environment.  In particular, it provides them the opportunity to engage in small-scale and low-stakes research projects each time they investigate and curate the network of an historical actor or group.</p>
		<p></p>
		<p>The following link to downloadble PDF examples of <em>Six Degrees</em> used in: </p>
		<ul>
			<li><p>in a <a href='/documents/SDFB_undergraduate_teachingobject.pdf'>semester-long undergraduate course syllabus</a>, as a regular assignment.</li></p>
			<li><p>as the basis for scavenger hunt in a <a href='/documents/SDFB_scavengerhunt.pdf'>single class session for undergraduates or graduates</a>.</li></p>
			<li><p>as part of a <a href='<%= asset_path "Two_Day_Lesson_Plan_For_SDFB.pdf" %>'>full week of a graduate or advanced undergraduate course</a> on networks in the digital humanities.</li></p>
		</ul>
		<p></p>
		<p>If you are interested in having your students focus on adding women to the network, instructions from the Networking Women edit-a-thon are available <a href='/documents/NetworkingWomen_Instructions.pdf'>here.</a></p>
		<p></p>
		<p>If you have used <em>Six Degrees</em> in your teaching and would like to share your materials on our website, please contact us via the Provide Feedback form.</p>
	</div>
</div>
