<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= include_gon %>
 

 <%= javascript_include_tag "jquery-2.1.1.min", "jquery-ui.min", "bootstrap.min", "insights.standalone", "typeahead", "pace.min", "display2", "script", "accordion" %>
 <%= stylesheet_link_tag "reset", "jquery-impromptu.min", "bootstrap.min", "accordion",  "table", "style"%>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
  
  
  </head>
  <body>
		<h1>StaticPages#help</h1>
		<p>Find me in app/views/static_pages/help.html.erb</p>

		Yo, this is a static page for help! Modify me!
  </body>
</html>

