<div id="container">
<h1>Help Page</h1>
		<ul>
		  <li><a href="#0.2_0.1_slow">1. The site is slow and/or something&#39;s not working.</a><a href="#0.2_0.1_"></a></li>
		  <li><a href="#0.2_0.2_colors">2. What do the colors of the nodes and edges represent?</a></li>
		  <li><a href="#0.2_0.3_click">3. How do I navigate around the network visualization?</a></li>
		  <li><a href="#0.2_0.4_autocomplete">4. Why does the auto-complete in the search bar include a number after every name?</a></li>
		  <li><a href="#0.2_0.5_confidence">5. What is the confidence number attached to each relationship?</a></li>
		  <li><a href="#0.2_0.6_filters">6. What are the filters at the top of the page?</a></li>
		  <li><a href="#0.2_0.7_blank">7. Why are the fields in the sidebar blank when I click on a person or relationship?</a></li>
		  <li><a href="#0.2_0.8_ODNB">8. What is the Oxford DNB? Why don&#39;t the Oxford DNB links take me directly to biographies?</a></li>
		  <li><a href="#0.2_0.9_network">9. Why does searching on a network not bring up all the people who I know should be in that network?</a></li>
		  <li><a href="#0.2_0.10_group">10. Why does searching on a group not bring up all the people who I know should be in that group?</a></li>
		  <li><a href="#0.2_0.11_edit">11. Why can&#39;t I contribute/edit anything?</a></li>
		  <li><a href="#0.2_0.12_signup">12. Where do I sign up? What are your Terms of Service?</a></li>
		  <li><a href="#0.2_0.13_contribution">13. Why didn&#39;t my contribution immediately show up on the visualization?</a></li>
		  <li><a href="#0.2_0.14_type">14. What does year &quot;type&quot; mean? What if I don&#39;t know the exact year or the multiple early modern calendars makes the year ambiguous?</a></li>
		  <li><a href="#0.2_0.15_data">15. Can I access the <em>Six Degrees of Francis Bacon</em> data directly? What is its copyright status?</a></li>
		  <li><a href="#0.2_0.16_IDs">16. What are all the ID numbers that display in the data sets?</a></li>
		  <li><a href="#0.2_0.17_women">17. Why are certain people not in your dataset (particularly women)? What was the percentage of women in the original Oxford DNB dataset?</a></li>
		  <li><a href="#0.2_0.18_bigdata">18. Can I send a big batch of data to include in <em>Six Degrees of Francis Bacon?</em></a></li>
		  <li><a href="#0.2_0.19_curator">19. Who are the Curators and how do I become one?</a></li>
		  <li><a href="#0.2_0.20_approved">20. What is the &quot;is approved&quot; check-box for?</a></li>
		  <li><a href="#0.2_0.21_students">21. How can I use this with my students?</a></li>
		  <li><a href="#0.2_0.22_other">22. I have some other question.</a></li>
		</ul>
	<br>
	<div>    
	  <p><a name="0.2_0.1_slow"></a>      </p>
	  <p><strong>1. The site is slow and/or something&#39;s not working.</strong></p>
	  <p><em>Six Degrees of Francis Bacon</em> is currently in beta testing phase.  One of the known issues with our beta site is the length of time it requires to construct our visualization.  Please be advised that this is particularly problematic if you attempt to use a low certainty threshold to search the entire network.</p>
      <p>If you encounter any other problems or have any other suggestions for how to improve the site, please let us know by clicking the <em>Provide Feedback</em> link in the header bar.	  </p>
      <p><a name="0.2_0.2_colors"></a>      </p>
      <p><strong>2. What do the colors of the nodes and edges represent?</strong></p>
	  <p>Node color indicates the number of edges or relationships that node has given the current confidence and date thresholds. Dark blue indicates the highest number of edges, red is the lowest, with lighter blues and oranges in between. The edge colors help us visually track connections between nodes, but do not presently convey additional information.</p>
      <p><a name="0.2_0.3_click"></a>      </p>
      <p><strong>3. How do I navigate around the network visualization?</strong></p>
	  <p>You can scroll to zoom in and out, double-click on a node or edge for more information, and single-click to reset the view. Edge-clicking is currently finicky - this is an issue that we are working to correct.</p>
      <p><a name="0.2_0.4_autocomplete"></a>      </p>
      <p><strong>4. Why does the auto-complete in the search bar include a number after every name?</strong></p>
	  <p>To help users disambiguate between people with multiple names, the auto-complete function in our search bar includes the person&#39;s birthdate in parentheses after their names.</p>
      <p><a name="0.2_0.5_confidence"></a>      </p>
      <p><strong>5. What is the confidence number attached to each relationship?</strong></p>
	  <p>Much as a climatologist might gather local temperature and pressure readings to develop probabilistic models of global climate change, so too, we reasoned, could we treat the pattern of names in the history of scholarship as something to be explained by an underlying state of historical affairs. Our dataset's original confidences estimates represented the likelihood, based on our statistical models, that a particular relationship existed. In general, our confidence estimates change over time based on users input.</p>
      <p><a name="0.2_0.6_filters"></a>			</p>
      <p><strong>6. What are the filters at the top of the page?</strong></p>
      <p>After searching for a particular subset of the data, you may wish to refine your search.  Rather than performing the search over again from scratch, you may use the filters for certainty and date to tweak those parameters.  Click on the <em>Apply Filters</em> button on the header, adjust the sliders to the numbers you want, then click the <em>Filter</em> button.</p>
      <p><a name="0.2_0.7_blank"></a>			</p>
      <p><strong>7. Why are fields in the sidebar blank when I click on a person or relationship?</strong></p>
      <p>Many of the fields in our data sets are empty, particularly the group data sets and the relationship type/date data sets.  This is where <em>you</em> come in.  Please consider clicking the pen icons in the sidebar accordian to annotate or edit our existing data.  Please also consider adding new people, relationships, and groups via the Contribute button in the sidebar accordian.</p>
      <p><a name="0.2_0.8_ODNB"></a>		</p>
      <p><strong>8. What is the Oxford DNB?  Why don&#39;t the Oxford DNB links take me directly to biographies?</strong></p>
      <p>The <em>Oxford Dictionary of National Biography</em> is a subscription-only website.  Many universities and public libraries have subscriptions.  If you are in the UK, you should be able to access it from any public library.  If you are affiliated with a university or college, and not currently on campus, try logging on remotely to your campus library/network to see if your university or college has a subscription.</p>
      <p><a name="0.2_0.9_network"></a>      </p>
      <p><strong>9. Why does searching on a network not bring up all the people who I know should be in that network?</strong></p>
	  <p>There may be a few reasons.  It is possible the confidence estimates on certain relationships are below your chosen threshold.  Try filtering to include lower confidences.  If you are certain a lower-confidence relationship existed, please add a relationship type to the relationship, which will update the overall relationship confidence. If the relationship is not in our dataset, please create a new, untyped relationship with whatever confidence estimate you think appropriate.</p>
	  <p>It is also possible that a person isn’t yet in the database. In that case, please both add that person and create new, untyped relationships for them.</p>
      <p><a name="0.2_0.10_group"></a>		</p>
      <p><strong>10. Why does searching on a group not bring up all the people who I know should be in that group?</strong></p>
      <p>The ability to search by groups is limited by whether or not people have been tagged as belonging to those groups.  This is where <em>you</em> come in.  Please consider adding new people to existing groups via the tag icon in the group section of the sidebar accordian.</p>
      <p><a name="0.2_0.11_edit"></a>			</p>
      <p><strong>11. Why can&#39;t I contribute/edit anything?</strong></p>
      <p>Anyone can search and see the <em>Six Degrees of Francis Bacon</em> network, however only registered users may contribute to and edit the network.  Please make sure you&#39;re signed in, either by clicking the <em>Sign In</em> link in the header bar or by clicking the <em>Sign In</em> link on the error page generated when you attempt to create/edit while not signed in.</p>
      <p><a name="0.2_0.12_signup"></a>			</p>
      <p><strong>12. Where do I sign up?  What are your Terms of Service?</strong></p>
      <p>If you click the <em>Sign In/Sign Up</em> link in the header bar, you should see an option to <em>Sign Up</em> for a new account.  Terms of Service are also linked to the <em>Sign In</em> and <em>Sign Up</em> pages.</p>
      <p><a name="0.2_0.13_contribution"></a>			</p>
      <p><strong>13. Why didn&#39;t my contribution immediately show up on the visualization?</strong></p>
      <p><em>Six Degrees of Francis Bacon</em> is not a wiki-style platform.  All contributions to the website must be first approved by an Admin or Curator before appearing in the visualization.</p>
      <p><a name="0.2_0.14_type"></a>		</p>
      <p><strong>14. What does year &quot;type&quot; mean?  What if I don&#39;t know the exact year or the multiple early modern calendars makes the year ambiguous?</strong></p>
      <p>Since historical dates are so often ambiguous, <em>Six Degrees of Francis Bacon</em> has implemented a system to deal with this.  Users can choose between BF (before), IN, AF (after), CA (circa), or a combination of BF/IN, AF/IN.  So, for example, a person born in or before 1600 should be listed as BF/IN with an Ext(ant) Birth Year of 1600.  A person born around 1540 should be listed as CA with an Ext Birth Year of 1540.</p>
      <p>If you have a person who you know was born in a range of years - such as between 1630 and 1635 - you can use the Alt Birth Year field to indicate a close date for that range.  This field can also be used for persons born between Jan. 1 and Mar. 25, whose birth year depends on which date you choose for New Year&#39;s Day</p>
      <p><a name="0.2_0.15_data"></a>		</p>
      <p><strong>15. Can I access the <em>Six Degrees of Francis Bacon</em> data directly?  What is its copyright status?</strong></p>
      <p>All our data sets are freely viewable and downloadable for registered users.  Click the <em>View Records</em> link in the header to see a drop-down menu of the different data sets.  Click to bring up the data set you&#39;re interested in, which you can then either browse online or click the <em>Export</em> button to download the data to your computer.</p>
      <p>If you make use of <em>Six of Degrees of Francis Bacon</em> material, please cite our website <a href="http://www.sixdegreesoffrancisbacon.com/" target="_blank">sixdegreesoffrancisbacon.com</a>. Please also tweet about any uses to <a href="https://twitter.com/6Bacon" target="_blank">@6Bacon</a> so we can be aware of how the material is used and so we can help promote your work. SDFB is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US" target="_blank">Creative Commons Attribution-NonCommercial-<WBR>ShareAlike 4.0 Unported License.</a></p>
      <p><a name="0.2_0.16_IDs"></a>		</p>
      <p><strong>16. What are all the ID numbers that display in the data sets?</strong></p>
      <p>Each person, relationship, and group in the <em>Six Degrees of Francis Bacon</em> data sets have identifiers to help disambiguate people with the same or similar names.  Some people also have ODNB IDs, which identify them in the <em>Oxford Dictionary of National Biography</em> database.</p>
      <p><a name="0.2_0.17_women"></a>      </p>
      <p><strong>17. Why are certain people not in your dataset (particularly women)? What was the percentage of women in the original Oxford DNB dataset?</strong></p>
	  <p>Our initial dataset only included people mentioned five or more times in the text of an Oxford DNB biography. Within our time period, only 6% of people in the Oxford DNB are female.</p>
	  <p><a name="0.2_0.18_bigdata"></a>      </p>
      <p><strong>18. Can I send a big batch of data to include in <em>Six Degrees of Francis Bacon?</em>?</strong></p>
	  <p>Yes. Please contact us for specifications on data formats.</p>
	  <p><a name="0.2_0.19_curator"></a>		</p>
      <p><strong>19. Who are the Curators and how do I become one?</strong></p>
      <p>The <em>Six Degrees of Francis Bacon</em> Curators are users who have shown consistent ability to make useful contributions to the website, or users who have been otherwise vetted by the Admins.  The process of &quot;unlocking&quot; Curator status will eventually become automated, but in the beta version of this site requires Admin research and approval.  If you are interested in becoming a Curator, please contact the Admins <a href="mailto:SixDegreesFrancisBacon@gmail.com?subject=Applying+for+Curator+Status" target="_blank">via email</a>.</p>
      <p><a name="0.2_0.20_approved"></a>		</p>
      <p><strong>20. What is the &quot;is approved&quot; check-box for?</strong></p>
      <p>Curators can see a checkbox labeled &quot;Is Approved.&quot;  Clicking this box will enable their contribution to go directly into the visualization.</p>
      <p><a name="0.2_0.21_students"></a>      </p>
      <p><strong>21. How can I use this with my students?</strong></p>
	  <p>Your students can sign up for user accounts and track their contributions on their user dashboard. You can also write to us for Curator status, which will enable you to approve their contributions (if appropriate).</p>
      <p><a name="0.2_0.22_other"></a>		</p>
      <p><strong>22. I have some other question.</strong></p>
      <p>Please use the <em>Provide Feedback</em> link in the header to contact us and explain what is currently confusing/unclear to you about the site.</p>
</div>

