<% content_for :title, "SDFB: Team" %>
<div id="container">
	<h1>Six Degrees of Francis Bacon Team</h1>
		<div>
<p>Christopher Warren, <em>Project Manager, Project Co-Founder, Co-Principal Investigator, 2010-present</em></p>
<p>Daniel Shore, <em>Project Co-Founder, Co-Principal Investigator, 2010-present</em></p>
 <p></em></p>
<p>Mike Finegold, <em>Statistician, Co-Principal Investigator, 2011-13</em></p>
<p>Jessica Otis, <em>Technical Lead, Co-Principal Investigator, 2014-present</em></p>
<p>Cosma Shalizi, <em>Statistician, Co-Principal Investigator, 2011-13</em></p>
<p>Lawrence Wang, <em>Statistician, 2011-13</em></p>
<p>Scott Weingart, <em>Digital Humanities Specialist, 2015-present</em></p>
 <p></em></p>
<p>Katarina Shaw, <em>Lead Programmer, Human-Computer Interaction Designer, 2013-2015</em></p>
<p>Zaria Howard, <em>Programmer, 2015-2016</em></p>
<p>Jeremy Lee, <em>Programmer, 2014-2016</em></p>
<p>Katie Ramp, <em>Human-Computer Interaction Designer, 2014</em></p>
<p>Ally Sorge, <em>Programmer, 2014-2016</em></p>
<p> 
<p>Raja Sooriamurthi, <em>Information Systems Software Devleopment Projects (Carnegie Mellon University Course 67-373) Supervisor, 2013-present</em></p>
<p>Fall 2013 Information Systems Software Development Team:</p>
<p>            Mike Bautista, Adetunji Olojede, Katarina Shaw, Leonard Sokol, Amiti Uttawar</p>
<p>Spring 2014 Information Systems Team Software Development Team:</p>
<p>            Ivy Chung, Sama Kanbour, Angela Qui, Chanamon Ratanalert</p>
<p>Spring 2015 Information Systems Team Software Development Team:</p>
<p>            Audrey Alpizar, Zherry Chen, Tommy Hung, Sky Krauthamer</p>
<p>Spring 2016 Information Systems Team Software Development Team:</p>
<p>            David Gao, Maz Harlynking, Amy Li</p>
		</div>
	</div>