<% content_for :title, "SDFB: Terms of Service" %>
<div id="container">
	<h1>User Agreement</h1>

	<p>The Six Degrees of Francis Bacon (SDFB) is a collaborative project to reconstruct the social network of early modern Britain. By creating a user account and making contributions to SDFB, you are agreeing to the following:</p>

	<p>1. All material contributed to the SDFB website may be edited (with attribution) or removed by other users.</p>


	<p>2. All material contributed to the SDFB website should be properly cited. SDFB reserves the right to revoke users' privileges, up to and including account access, for plagiarism or other violations of United States copyright.</p>

	<p>3. Users who contribute to the SDFB website are granting	SDFB a royalty-free, non-exclusive, perpetual, worldwide license to use such material. This includes, but is not limited to, displaying material on its website and including material in its dataset. Note: the SDFB dataset is freely downloadable under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 Unported License</a>.</p>

	<p>4. SDFB is not responsible for any user-generated comments that appear on our website. However,SDFB reserves the right to revoke users' privileges, up to and including account access, for abusive postings.</p>

	<p>5. Your e-mail address will be visible only to yourself and SDFB admins. We will not share your e-mail address with third parties.</p>

	<p>6. Your username will be visible to other users in conjunction with any contributions you make to the website. Due to the way data is archived on the site, it will generally not be possible to disassociate your username from your contributions. If you have any privacy
	concerns, please <a	href="mailto:SixDegreesFrancisBacon@gmail.com">contact us</a></p>
</div>

