$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
/* bower:scss*/
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
/* endbower*/
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Vesper+Libre:400');
$timelineColor: blue;
$strokeDanger: red;
$mainTextColor: #434055;
$panels-bg: #E6EAF0;
$panels-stroke: #AEB1B5;
$highlight-color: #F7F35D;
$panels-bg-secondary: #C6CACF;
$light-color: white;
/* $node-individual-origin: #F45D4C;*/
/* $node-individual-firstDegree: #EE9F99;*/
/* $node-individual-secondDegree: #f2f2f3;*/
$node-individual-origin: #1239B4;
$node-individual-firstDegree: #5385A6;
$node-individual-secondDegree: #f2f2f3;
$node-share-origin: #5385A6;
$node-share-direct: #F45D4C;
$node-share-indirect: #FDE6E5;
$node-group-origin: #78729F;
$node-group-firstDegree: #EFF1F4;
$edge-color: #4A4A4A;
/* general styles*/
body {
  background-color: #EFF1F4;
  padding-top: 50px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: $mainTextColor;
}

h2 {
  font-size: 14px;
  color: $mainTextColor;
  font-weight: 600;
  letter-spacing: 0.58px;
  margin-top: 10px;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 10px;
}

path.danger {
  stroke: $strokeDanger;
}

.center {
    text-align: center;
}

/*header styles*/
.header .navbar {
    background-color: $edge-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    .navbar-nav > li > a {
        color: $light-color;
    }

    .navbar-left > li > a,
    .navbar-left > li > a:hover {
        background-color: transparent;
        font-family: 'Vesper Libre', serif;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.75px;
    }

    .navbar-right {
        text-transform: uppercase;
    }
}
.navbar-brand {
    padding: 0;

    .project-img {
        height: 100%;
    }
}


/* panels general styles*/
.panels-container {
  width: 100vw;
  height: calc(100vh - 50px);
  padding: 10px;
  position: relative;
  pointer-events: none;
  z-index: 100;
}

.panels-container * {
  pointer-events: auto;
}

.on-the-left {
  float: left;
}

.on-the-right {
  float: right;
}

.on-the-right > * {
  float: right;
  clear: both;
}

.on-the-left,
.on-the-right {
  min-width: 270px;
  width: 25%;
  max-width: 320px;
  pointer-events: none;
}

.on-the-left *,
.on-the-right * {
  pointer-events: auto;
}

.panel {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: $panels-bg;
  border-color: $panels-stroke;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.panel.smallest {
  width: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.panel h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 10px 6px;

  &:first-of-type {
    padding-top: 0;
  }
}

.panel h5 {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 6px;
}
/* collapsable panels*/
.panel.collapsable {
  position: relative;
  padding: 12px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  width: 100%;

  &.individual {
      height: 360px;
  }

  &.shared {
      height: 460px;
  }

  &.group {
      height: 260px;
  }
}

.panel.collapsable.collapsed {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.panel.collapsable > section {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.3s;
  transition: opacity 0.5s 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.panel.collapsable.collapsed > section {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.panel.collapsable > .close {
  display: block;
  font-size: 14px;
  opacity: 1;
  padding-right: 3px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 12px;
  width: 15px;
}

.panel.collapsable .fa-times {
    bottom: 4px;
    color: $mainTextColor;
    left: 4px;
    position: relative;
}

.panel.collapsable.collapsed > .close {
  color: $mainTextColor;
  right: 6px;
  top: 7px;
}
/* search panel styles*/
search-panel.panel {
  border: none;
}

search-panel .nav-tabs.nav-justified > li > a {
  background-color: $panels-bg-secondary;
  border: 1px solid $panels-stroke;
  color: $light-color;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;

  &:focus,
  &:hover {
    background-color: $panels-bg-secondary;
    color: $light-color;
  }
}

search-panel .nav-tabs.nav-justified > .active > a,
search-panel .nav-tabs.nav-justified > .active > a:focus,
search-panel .nav-tabs.nav-justified > .active > a:hover {
  background-color: transparent;
  border: 1px solid $panels-stroke;
  border-bottom-color: $panels-bg;
  color: $mainTextColor;
}

.tab-content {
  border: 1px solid $panels-stroke;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 15px;
}

/*search bar*/
.dropdown-menu {
    background-color: $light-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 283px;
}

.dropdown-menu > .active > a,
.dropdown-menu > li > a {
    background-color: $light-color;
    color: $mainTextColor;
    padding-top: 4px;
    padding-bottom: 4px;

    &:hover {
        background-color: $highlight-color;
        color: $mainTextColor;
    }
}

/* legend-panel styles*/
section .legend-box {
  margin-top: 32px;
}

.legend-panel h5 {
  text-align: center;
}

section .legend-text {
  font-size: 12px;
  font-weight: 700;
  padding-top: 5px;

  &.centered {
    text-align: center;
  }
}

section .legend-line {
  border-top: 1px solid $mainTextColor;
  position: relative;
  top: 7px;
  width: 100%;

  &.small-segment {
    width: 60px;
  }

  &.center-segment {
      margin: 0 auto;
      width: 172px;
  }
}

.text-spaced {
    padding-bottom: 5px;
}

section .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .legend-circle {
    border: 1px solid $light-color;
    border-radius: 7px;
    height: 14px;
    width: 14px;
    z-index: 99;
  }

  &.individual-network {
    .legend-circle {
      &.origin {
        background-color: $node-individual-origin;
      }

      &.first-degree {
        background-color: $node-individual-firstDegree;
        margin-left: 14px;
      }

      &.second-degree {
        background-color: $node-individual-secondDegree;
        border-color: $node-individual-firstDegree;
      }
    }
  }

  &.upper-text-legend {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    .legend-text {
        padding-top: 0;
        padding-left: 47px;
    }
  }

  &.shared-network {
    .legend-circle {
      &.origin {
        background-color: $node-share-origin;
      }

      &.context {
        background-color: $panels-bg;
        border-color: $node-share-origin;
      }

      &.ghost {
        background-color: transparent;
        border-color: transparent;
      }

      &.direct {
        background-color: $node-share-direct;
        left: 24px;
        position: relative;
      }

      &.indirect {
        background-color: $node-share-indirect;
        border-color: $node-share-direct;
      }
    }
  }

  &.group-network {
    .legend-circle {
      &.origin {
        background-color: $node-group-origin;
      }

      &.first-degree {
        background-color: $node-group-firstDegree;
        border-color: $node-group-origin;
      }
    }
  }

  .legend-edge {
    width: 130px;
    border-bottom: 2px solid $edge-color;
    padding-bottom: 4px;

    &:first-of-type {
      border-bottom-color: rgba(74,74,74,0.35);
    }
  }
}
/*temporary styles, they will be changed when legend will be made dynamic*/
section .white-circle {
  background-color: $light-color;
  border: 1px solid $mainTextColor;
  border-radius: 15px;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}

section .white-square {
  background-color: $light-color;
  border: 1px solid $mainTextColor;
  border-radius: 6px;
  height: 40px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 40px;
}

section .edge-line {
  border: 6px solid $mainTextColor;
  height: 30px;
  margin: 0 auto;
  width: 0;
}
/* Buttons*/
.btn {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 2px;
}

.btn-group-justified {
  width: 100%;
  margin: auto;

  label.btn {
    background-color: $light-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: $panels-stroke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: $mainTextColor;
    font-size: 12px;
    font-weight: 600;

    &:first-of-type {
      border-right: none;
    }

    &:focus,
    &:hover {
      background-color: $light-color;
      border-color: $panels-stroke;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $mainTextColor;
    }
  }

  label.btn.active {
    background-color: $highlight-color;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus,
    &:hover {
      background-color: $highlight-color;
      border-color: $panels-stroke;
    }
  }
}
/* form styles*/
.form-control {
  font-size: 13px;
}
/* */
.controls {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.controls > span {
  color: $mainTextColor;
  padding: 9px 9px 0;
}

.controls > span:last-child {
  padding-bottom: 9px;
}
/* visualization styles*/
.visualization-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.visualization-container > * {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

.visualization-container > groups-bar {
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0;
}
/* Contextual Info Panel*/
contextual-info-panel > section {
  padding: 5px 15px;
  text-align: center;
}

contextual-info-panel h2 {
    margin-bottom: 4px;
}

#more-info {
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#more-info a {
  margin-right: 10px;
}

#more-info span:last-child {
  margin-right: 0;
}

#more-info img {
  width: auto;
  height: 25px;
}

#more-info i {
  font-size: 27px;
}
/* Small time-line*/
small-timeline svg {
  width: 100%;
  height: 30px;
  /* background-color: #fafafa;*/
}

small-timeline .background-line {
  stroke: #9B9B9B;
  stroke-width: 1px;
}

small-timeline path.life {
  stroke-width: 2px;
  stroke: $timelineColor;
}

small-timeline path.terminator {
  stroke-width: 2px;
  stroke: $timelineColor;
}

small-timeline .label {
  font-size: 9px;
  font-weight: 600;
  fill: #9B9B9B;
}

small-timeline .life {
  text-anchor: middle;
  fill: $mainTextColor;
}
/*MEDIA QUERIES*/
$screen-xs-max: 767;
$screen-sm-min: 768;
$screen-sm-max: 991;
$screen-md-min: 992;
$screen-md-max: 1199;
$screen-lg-min: 1200;
@media (max-width: $screen-xs-max) {}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}
@media (min-width: $screen-lg-min) {}
