$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding-top: 50px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h3 {
	text-transform: uppercase;
	font-size: 12px;
	margin: 0px;
}

.panels-container {
    width: 100vw;
    height: calc(100vh - 50px);
    padding: 10px;
    position: relative;
    pointer-events: none;
    z-index: 100;
}

.panels-container * {
    pointer-events: auto;
}

.on-the-left {
	float: left;
}
.on-the-right {
	float: right;
}
.on-the-right > * {
	float: right;
}
.on-the-left, .on-the-right{
	width: 25%;
}

.panel {
	display: block;
	width: 100%;
}
.panel.smallest {
	width: 45px;
	box-sizing: border-box;
}

.controls {
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

.controls > span {
	padding: 15px 15px 0 15px;
}
.controls > span:last-child {
	padding: 15px 15px 15px 15px;
}

.visualization-container {
	width:100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
}

.visualization-container > * {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}

.visualization-container > groups-bar {
	position: absolute;
	height: 45px;
	width: 100%;
	bottom: 0;
	background-color: #ddd;
}

// LEGEND
legend-panel {
	position: relative;
}
legend-panel > .close {
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
}

.legend {
	display: flex;
	flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.legend-text {
	font-size: 10px;
	color: #9B9B9B;
	letter-spacing: 0.49px;
}

// FORCE LAYOUT
.links {
  stroke: #000;
  fill: none;
  /*stroke: #000;*/
  shape-rendering: geometricPrecision;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  transition: stroke-width 0.5s, stroke 0.5s, opacity 0.5s;
  cursor: pointer;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.node:hover {
  stroke: #4A4A4A;
  stroke-width: 2px;
}
.node.degree0 {
  fill: #0A8CE4;
  /*fill: #F45D4C;*/
}
.node.degree1 {
  fill: #93B9D2;
  /*fill: #DF947A;*/
}
.node.degree2 {
  fill: #D4D5D6;
}
.node.faded {
  opacity: 0.2;
}
.node.focused {
  stroke: #666666;
}

#tools div {
  display: inline;
}

form, select {
  float: right;
  display: inline;
}



//MEDIA QUERIES
$screen-xs-max: 767;
$screen-sm-min: 768;
$screen-sm-max: 991;
$screen-md-min: 992;
$screen-md-max: 1199;
$screen-lg-min: 1200;
@media (max-width: $screen-xs-max) {

}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}