$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


$timelineColor: blue;
$strokeDanger: red;
$mainTextColor: #4A4A4A;
body {
  background-color: #EFF1F4;
  padding-top: 50px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: $mainTextColor;
}

h2 {
	font-size: 14px;
	color: $mainTextColor;
	font-weight: 700;
	letter-spacing: 0.58px;
	margin-top: 10px;
}

h3 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin: 0px;
}

p {
	font-size: 10px;
}

path.danger {
	stroke: $strokeDanger;
}

.panels-container {
    width: 100vw;
    height: calc(100vh - 50px);
    padding: 10px;
    position: relative;
    pointer-events: none;
    z-index: 100;
}

.panels-container * {
    pointer-events: auto;
}

.on-the-left {
	float: left;
}
.on-the-right {
	float: right;
}
.on-the-right > * {
	float: right;
	clear: both;
}
.on-the-left, .on-the-right{
	width: 25%;
	pointer-events: none;
}
.on-the-left *, .on-the-right *{
	pointer-events: auto;
}

.panel {
	display: block;
	width: 100%;
}
.panel.smallest {
	width: 45px;
	box-sizing: border-box;
}

.controls {
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

.controls > span {
	padding: 15px 15px 0 15px;
}
.controls > span:last-child {
	padding: 15px 15px 15px 15px;
}

.visualization-container {
	width:100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
}

.visualization-container > * {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}

.visualization-container > groups-bar {
	position: absolute;
	height: 45px;
	width: 100%;
	bottom: 0;
	background-color: #ddd;
}

// LEGEND
legend-panel {
	position: relative;
	padding: 15px 0;
	transition: width 0.25s, height 0.25s;
	transition-timing-function: ease;
	width: 100%;
	height: 360px;
}
legend-panel.collapsed {
	position: relative;
	// padding: 15px 0;
	width: 45px;
	height: 45px;
	overflow: hidden;
	box-sizing: border-box;
}

legend-panel > .legend {
	opacity: 1;
}

legend-panel.collapsed > .legend {
	opacity: 0;
}

legend-panel > .close {
    display: block;
    position: absolute;
    right: 17px;
    top: 13px;
    font-size: 15px;
}

.legend {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.legend-text {
	font-size: 10px;
	color: #9B9B9B;
	letter-spacing: 0.49px;
}

// Contextual Info Panel

contextual-info-panel > section {
	padding: 5px 15px;
	text-align: center;
}

#more-info {
	background-color: #ddd;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
}
#more-info a {
	margin-right:10px;
}
#more-info span:last-child {
	margin-right:0px;
}
#more-info img {
	width: auto;
	height: 25px;
}
#more-info i {
	font-size: 27px;
}

// Small time-line

small-timeline svg {
	width: 100%;
	height: 30px;
	// background-color: #fafafa;
}

small-timeline .background-line {
	stroke: #9B9B9B;
	stroke-width: 1px;
}

small-timeline path.life {
	stroke-width:2px;
	stroke: $timelineColor;
}

small-timeline path.terminator {
	stroke-width:2px;
	stroke: $timelineColor;
}

small-timeline .label {
	font-size: 8px;
	color: #9B9B9B;
}

small-timeline .label.life {
	text-anchor: middle;
	color: $mainTextColor;
}


//MEDIA QUERIES
$screen-xs-max: 767;
$screen-sm-min: 768;
$screen-sm-max: 991;
$screen-md-min: 992;
$screen-md-max: 1199;
$screen-lg-min: 1200;
@media (max-width: $screen-xs-max) {

}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}
