/* visualizations.scss*/
/* Write here all the SCSS code for the visualizations, so to keep it separated from the panels and more general UI one*/
/* List of visualizations:*/
/* • Single Force Layout (Hooke)*/
/* Variables*/
$degree0: #F45D4C;
$degree1: #EE9F99;
$degree3: #f2f2f3;
/* Single Force Layout (Hooke)*/
.links {
  stroke: #000;
  fill: none;
  /*stroke: #000;*/
  shape-rendering: geometricPrecision;
}

.link {
  opacity: 0.35;
}

.link.altered {
  opacity: 1;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  -webkit-transition: stroke-width 0.5s, stroke 0.5s, opacity 0.5s;
  transition: stroke-width 0.5s, stroke 0.5s, opacity 0.5s;
  cursor: pointer;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.node:hover {
  stroke: #4A4A4A;
  stroke-width: 2px;
}

.node.degree0 {
  fill: $degree0;
  /*fill: #F45D4C;*/
}

.node.degree1 {
  fill: $degree1;
  /*fill: #DF947A;*/
}

.node.degree2 {
  fill: $degree3;
  stroke: $degree0;
}

.node.faded {
  opacity: 0.2;
}

.node.focused {
  stroke: #666666;
}

#tools div {
  display: inline;
}

form,
select {
  float: right;
  display: inline;
}
/* groups bar*/
groups-bar {
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0;
  background-color: #EFF1F4;
  padding: 0 10px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .group {
    background-color: #C6CACF;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 30px;
    overflow: hidden;
    padding: 0 0 0 5px;
  }

  .group.active {
    background-color: $degree0;
    color: white;
  }
}

groups-bar::after {
  content: 'This bar shows the people of the graph within the groups they are part of, click on a node to see if it has any group memberships.';
  display: block;
  position: absolute;
  bottom: 40px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

groups-bar:hover::after {
  opacity: 1;
}
