rails/log/development.log
rails/config/secrets.yml
rails/tmp/**/*
rails/**/.sass-cache
rails/**/.sass-cache/*
rails/public/assets/*
rails/tmp
rails/.env
rails/Procfile.development
rails/Procfile.test
rails/.DS_Store
angular/node_modules
angular/dist
angular/.tmp
angular/.sass-cache
angular/bower_components
.DS_Store
rails/config/secrets.yaml
