log/development.log
tmp/**/*
**/.sass-cache
**/.sass-cache/*
public/assets/*
tmp
.env
Procfile.development
Procfile.test
.DS_Store
angular/node_modules
angular/dist
angular/.tmp
angular/.sass-cache
angular/bower_components
.DS_Store
