<b>Find Person</b>
<form class="form-search" action="/people_search" method="get">  
Person Name or ID
<input type="text" name="query" class="input-medium search-query">  
<button type="submit" value="Search" class="btn btn-primary">Search</button>  
</form>