<h3>Find Person</h3>
<form class="form-search" action="/search" method="get">  
<input type="text" name="query" class="input-medium search-query">  
<button type="submit" value="Search" class="btn">Search</button>  
</form>