<b>Find Person</b>
<form class="form-search" action="/people_search" method="get">  
<input type="text" data-autocomplete="people/autocomplete_person_search_names_all" data-id-element="#search-person1-id" placeholder="Person Name">  
<input id="search-person1-id" name="query" type="hidden" />
<button type="submit" value="Search" class="btn btn-primary">Search</button>  
</form>