<h1>Export Group Category Assignments Data</h1>
<div class="well">
  <div class="container">
    <%=link_to 'Export Group Categories', '/export_group_categories', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Group Category Assignments', '/export_group_cat_assigns', :class => 'btn btn-primary'%><br>
  </div>
</div>