<h1> MODIFICATIONS </h1>
<p>	This page shows all of the matches we have in our database for the entries in your file. For each of your entries that we detected matches for:
	<li> If there is a match, select it and leave the following fields blank.
	<li>If there is a close match, select it and provide appropiate edits in the fields below.
	<li>If there is no match then select no match.
</p>

  <div>
  	<% if @data_file.table_content_type == "Person" %>
  		<%= render :partial => 'person_edit' %>
  	<% elsif @data_file.table_content_type == "Relationship" %>
  		<%= render :partial => 'relationship_edit'  %>
  	<% elsif @data_file.table_content_type == "Group" %>
  		<%= render :partial => 'group_edit'%>
  	<% end %>
  </div>

