<b>Find Relationship</b>
<form class="form-search" action="/relationship_search" method="get">  
First Person's Name or ID
<input type="text" name="person1Query" class="input-medium search-query">
Second Person's Name or ID
<input type="text" name="person2Query" class="input-medium search-query">  
<button type="submit" value="Search" class="btn btn-primary">Search</button>  
</form>