<b>Find Group</b>
<form class="form-search" action="/group_search" method="get">  
<input type="text" name="query" class="input-medium search-query">  
<button type="submit" value="Search" class="btn btn-primary">Search</button>  
</form>