<div class="page-header">
  <h1>All Groups</h1>
</div>
<%= link_to 'New Group',
            new_group_path,
            :class => 'btn btn-primary' %>

<%= render 'approved_groups' %>

<%= render 'unapproved_groups' %>