<h1>All Groups</h1><br>

<div class="well">
  <div class="container">
    <div class="row">
      <div class="span8">
        <b>Add a new group</b></br>
        <%= link_to 'New Group', new_group_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<%= render 'approved_groups' %>