
<% content_for :title, "SDFB: New Group" %>

<h1>New Group
	<% if (current_user.user_type == "Admin") #|| (current_user.user_type == "Curator") %>
		<%=link_to 'Import Data Files', '/large_data', :class => 'btn btn-primary'%>
	<% end %>
</h1>
<br>
<h2>* denotes mandatory field</h2>
<%= render :partial => 'new_form' %>
