<div class="span6">
	<div class = "container-box">
		<div class = "well">
			<h1>Sign Up</h1>
			<br>
			<b>Already have an account?</b>
			<%= link_to 'Sign in', new_session_path %>
			<br><br>
			<%= render 'new_form' %>
			<p><a href="/tos">Terms of Service</a></p>
		</div>
	</div>
</div>