<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Six Degrees of Francis Bacon</title>
</head>

<body>
	<div id="everything">
	<div id="filterBar">
		<ul>
			<li>Filter By: &nbsp;</li>
				<li>Relationship Type&nbsp;</li>
				<li><a onclick="$('#tab-group').click();">Group&nbsp;</li></a></li>
				<li>Certainty&nbsp;</li>
				<li>Date&nbsp;</li>
		</ul>
	</div>


	<div id="results"></div>
 	 
	<div id="graph"></div>
	<div id="zoom">
		<button class="icon icon-zoomin" name="in"></button>
		<button class="icon icon-zoomout" name="out"></button>	
		<button class="icon icon-color"></button>
		<button class="icon icon-info"></button>
	</div>
	<div id="twogroupsmenu">
		<button type="button" class="btn btn-primary" id="group1" ></button>
		<button type="button" class="btn btn-primary active" id="group2" >Intersection</button>
		<button type="button" class="btn btn-primary" id="group3" ></button>
	</div>

	<div id="guide">
		<p> Node Color By Birth Year: </p>
		<div class="icon" id="cancel"></div>
		<img id="guide-pic" src="assets/coloryearlegend.png" alt="Color Legend">
	</div>

	<aside>
		<div id="accordion">
			<!-- search bar -->
			<h3 class="accordion_btn on"><span class="icon-magnify"></span>Search</h3>
			<div class="accordion_content active" id="search">
				<ul class="search-table">
					<li id="onenode" class="clicked btnl">Network</li>		
					<li id="twonode" class="btnl">Shared network</li>
					<li id="onegroup" class="btnl" onclick="$('#tab-group').click();">Group</li>
					<li id="twogroup" class="btnl">Shared groups</li>
				</ul>

				<!-- NODE FORMS -->

				<section id="onenodeform">
					<input class="form-control" type="text" id="one" placeholder="Name">
					<span id="slide1" ><article class="slider" name="1"></article></span>
					<article class="slider-result" id="slider-result1">Likely relationships</article>
					<input id="confidence1" type="hidden" value="3"/>
					<label for="search-date-range">Date Range:</label><input type="text" id="search-date-range">
					<span id="slide2" ><article class="slider-date" name="2"></article></span>
					<input type="checkbox" name="show-table" value="show-table" id="show-table">Show Table</input>
					<a class="talkPageLink" type="button" id="findonenode" name="node">Find</a>
				</section>

				<section id="twonodeform">
					<input class="form-control" type="text" id="two" placeholder="Name 1"><br>
					<input class="form-control" type="text" id="three" placeholder="Name 2"><br>
					<a id="slide3" ><article class="slider" name="2"></article></a>
					<article class="slider-result" id="slider-result2">Likely relationships</article>
					<input id="confidence2" type="hidden" value="3"/>
					<label for="search-date-range2">Date Range:</label><input type="text" id="search-date-range2">
					<span id="slide4" ><article class="slider-date2" name="3"></article></span>
					<input type="checkbox" id="check-shared" value="table">Show table<br>
					<a class="talkPageLink" type="button" id="findtwonode" name="node">Find</a>
				</section>

			<!-- GROUP FORMS -->

				<section id="twogroupform">
					<input 	class="form-control" type="text" id="five" placeholder="Group 1"><br>
					<input 	class="form-control" type="text" id="six" placeholder="Group 2"><br>
					<button class="talkPageLink" type="button" id="findtwogroup" name="group">Find</button>
				</section>
			</div>



			<!-- person information bar -->
			<h3 class="accordion_btn"><span class="icon-node"></span>Person</h3>
			<div  class="accordion_content " id="nodeinfo">
				<a class="icon icon-annotate" id="node-icon-annotate"  name="group"></a>
				<a class="icon icon-chain" id="node-icon-chain" name="edge"></a>
				<p id="node-name" class="node-name"></p>
				<b>BIRTH DATE&nbsp;</b> 				<a id="node-bdate"></a><br>
				<b>DEATH DATE&nbsp;</b> 				<a id="node-ddate"></a><br>
				<b>HISTORICAL SIGNIFICANCE</b><br>		<a id="node-significance"></a><br>
				<b>GROUPS&nbsp;</b>						<a id="node-group"></a><br>
				<b>CITATION</b><br>						<a id="node-cite"></a><br>
				<b>LINKS&nbsp;</b>
				<a id="node-DNBlink" target="_blank">Oxford DNB</a> &nbsp;
				<a id="node-GoogleLink" target="_blank">Google</a> <br><br>
				<a id="node-discussion" class="talkPageLink" target="_blank">View Entry Discussion</a>
			</div>

			<!-- relationship information bar -->
			<h3 class="accordion_btn"><span class="icon-edge"></span>Relationship</h3>
			<div  class="accordion_content " id="edgeinfo">
				<a class="icon icon-annotate" id="edge-icon-annotate" name="edge"></a>
				<p id="edge-nodes"></p>
				<b>CONFIDENCE&nbsp;</b> 	<span id="edge-confidence"></span><br>
				<b>DATE RANGE&nbsp;</b> 	<span id="edge-daterange"></span><br>
				<span id="relationship-table">
					<b class="relationship-type relationship-cell">Type</b>
					<b class="relationship-from relationship-cell">From</b>
					<b class="relationship-to relationship-cell">To</b>
					<b class="relationship-confidence relationship-cell">Confidence</b>
				</span>
				<a class="talkPageLink" target="_blank" id="edge-discussion">View Entry Discussion</a>
				<b>CONTRIBUTORS: &nbsp;</b> 	<a id="edge-contributor"></a><br><br>
			</a>
			</div>

			<!-- group information bar -->
			<h3 class="accordion_btn" id="tab-group"><span class="icon-node"></span>Group</h3>
			<div  class="accordion_content " id="groupinfo">
				<a class="icon icon-label" id="group-icon-label" href="/group_assignments/new" name="edge"></a>
				<a class="icon icon-annotate" id="group-icon-annotate" name="edge"></a>
				<input  type="text" id="group_name" placeholder="Group">
				<p id="edge-nodes"></p>
				<b>DESCRIPTION&nbsp;</b> 	<a id="group-description"></a><br>
				<b>MEMBERS&nbsp;</b> 	<a id="group-members"></a><br>
				<b>CREATED BY&nbsp;</b>	<a id="group-contributor"></a><br><br>
				<a class="talkPageLink" target="_blank">View Entry Discussion</a>
			</div>

			<!-- contribution bar -->
			<h3 class="accordion_btn"><span class="icon-add"></span>Contribute</h3>
			<div  class="accordion_content tabs" id="add">
				<ul class="clearfix">
					<a href="/people/new"><li id="addnode">Person</li></a>
					<a href="/relationships/new"><li id="addedge">Relationship</li></a>
					<a href="/groups/new"><li id="addgroup">Group</li></a>
				</ul>
			</div>


		</div>
	</aside>
	
				
	
	</div> <!-- closing everything that's not landing page -->
	<div id="landing">
		<div id="landing-open">
			<img id="net" src="assets/net.png" >
			<div id="wel">Welcome to</div>
			<div id="title"> Six Degrees of Francis Bacon </div>
			<img id="arrow" src="assets/landing/arrow-down.png" width="40px">
		</div>
		<div id="landing-def">
			<div id="def-info">
				<b>Six Degrees of Francis Bacon</b> (SDFB) is a collaborative 
				reconstruction of the social network of early modern 
				Britain (1500-1700). SDFB shows who likely knew whom 
				in the age of Elizabeth, Bacon, Shakespeare, and Hobbes.  
				<br><br>
				First, the SDFB team mined the history of scholarship 
				to estimate and visualize roughly 170,000 relationships. 
				On this site, scholars, students, and citizen humanists
				 are expanding, curating, and revising early modern 
				 British history.  
			</div>
		</div>
		<div id="landing-what">
			<div id="threecircles">
				<h5>What can you do with Six Degrees of Francis Bacon?</h5>
				<table id="threetable">
					<tr>
						<td><img src="assets/landing/learn.png" width="120px"></td>
						<td><img src="assets/landing/query.png" width="120px"></td>
						<td><img src="assets/landing/contribute.png" width="120px"></td>
					</tr>
					<tr>
						<td>Explore relationships and see early modern networks </td>
						<td>Ask how individuals or groups were connected</td>
						<td>Add names, annotate relationships, flag errors, share knowledge </td>
					</tr>
				</table>
			</div>
		</div>
		<div id="landing-features">
			<h5>Search Feature</h5>
			<table id="searches">
				<tr>
					<td>
						<img src="assets/landing/f1.png" width="140px">
						<br><br>
						The connections of one individual
					</td>
					<td>
						<img src="assets/landing/f2.png" width="140px">
						<br><br>
						The mutual connections between two individuals
					</td>
				</tr>
				<tr>
					<td>
						<img src="assets/landing/f3.png" width="140px">
						<br><br>
						The members of one group
					</td>
					<td>
						<img src="assets/landing/f4.png" width="140px">
						<br><br>
						The members of two groups
					</td>
				</tr>
			</table>
		</div>
		<div id="landing-sidebar">
			<h5>Research</h5>
			<img src="assets/landing/sidebar.png" height="70%">
		</div>
		<div id="arrows">
			<img id="arrow-up" src="assets/landing/arrow-up.png" width="40px">
			<img id="arrow-down" src="assets/landing/arrow-down.png" width="40px">
		</div>
		<div id="skipIntro">Skip Intro</div>
	</div> <!-- closing landing -->
</body>

</html>
