
	<div id="everything">
		<div id="graph"></div>		
		<div id="zoom">
			<button class="icon icon-zoomin" name="in"></button>
			<button class="icon icon-zoomout" name="out"></button>	
			<!--<button class="icon icon-color"></button>
			<button class="icon icon-info"></button>-->
		</div>
		<div id="accordion">
			<!-- search bar -->
			<h3 class="accordion_btn on"><span class="icon-magnify"></span>Search</h3>
			<div class="accordion_content active" id="search">
				<ul class="search-table">
					<li id="search-network" class="clicked btnl">Network</li>		
					<li id="search-shared-network" class="btnl">Shared network</li>
					<li id="search-group" class="btnl">Group</li>
					<li id="search-shared-group" class="btnl">Shared groups</li>
				</ul>

				<!-- NODE FORMS -->

				<section id="search-network-form">
					<!-- Testing the new autocomplete -->
					<label for="search-network-name">Find Network For:</label>
					<input class="form-control" type="text" id="search-network-name" placeholder="Person Name" data-autocomplete="home/autocomplete_person_search_names_all" data-id-element="#search-network-name-id"> 
					<input id="search-network-name-id" type="hidden" />
					<label for="search-network-slider-confidence">Relationship Confidence Level:</label>
					<span id="slide1" ><article id="search-network-slider-confidence" class="slider" name="1"></article></span>
					<article class="slider-result" id="search-network-slider-confidence-result">Very Unlikely to Certain @ 0 - 100%</article>
					<input id="search-network-slider-confidence-result-hidden" type="hidden" value="0 - 100"/>

					<label for="search-network-slider-date">Birthdate Range:</label>
					<span id="slide2" ><article id="search-network-slider-date" class="slider" name="2"></article></span>
					<article class="slider-result" id="search-network-slider-date-result">Selected Years: 1400 - 1800</article>
					<input id="search-network-slider-date-result-hidden" type="hidden" value="1400 - 1800"/>

					<!--<input type="checkbox" name="show-table" value="show-table" id="search-network-show-table" class="show-table">Show Table</input>-->
					<a class="talkPageLink" type="button" id="search-network-submit" name="node">Find</a>
				</section>

				<section id="search-shared-network-form">
					<label for="search-shared-network-name1">Find Shared Network For:</label>
					<input class="form-control" type="text" id="search-shared-network-name1" placeholder="Person 1 Name" data-autocomplete="home/autocomplete_person_search_names_all" data-id-element="#search-shared-network-name1-id"> 
					<input id="search-shared-network-name1-id" type="hidden" /><br>
					<input class="form-control" type="text" id="search-shared-network-name2" placeholder="Person 2 Name" data-autocomplete="home/autocomplete_person_search_names_all" data-id-element="#search-shared-network-name2-id"> 
					<input id="search-shared-network-name2-id" type="hidden" /><br>

					<label for="search-shared-network-slider-confidence">Relationship Confidence Level:</label>
					<span id="slide3" ><article id="search-shared-network-slider-confidence" class="slider" name="2"></article></span>
					<article class="slider-result" id="search-shared-network-slider-confidence-result">Very Unlikely to Certain @ 0 - 100%</article>
					<input id="search-shared-network-slider-confidence-result-hidden" type="hidden" value="0 - 100"/>

					<label for="search-shared-network-slider-date">Birthdate Range:</label>
					<span id="slide4" ><article id="search-shared-network-slider-date" class="slider" name="3"></article></span>
					<article class="slider-result" id="search-shared-network-slider-date-result">Selected Years: 1400 - 1800</article>
					<input id="search-shared-network-slider-date-result-hidden" type="hidden" value="1400 - 1800"/>

					<!--<input type="checkbox" id="search-shared-network-show-table" value="table" class="show-table">Show table<br>-->
					<a class="talkPageLink" type="button" id="search-shared-network-submit" name="node">Find</a>
				</section>

			<!-- GROUP FORMS -->
				<section id="search-group-form">
					<label for="search-group-name">Find Members Of:</label>
					<input class="form-control" type="text" id="search-group-name" placeholder="Group Name" data-autocomplete="home/autocomplete_group_name" data-id-element="#search-group-name-id">  
					<input id="search-group-name-id" type="hidden" />
					<a class="talkPageLink" type="button" id="search-group-submit" name="group">Find</a>
				</section>

				<section id="search-shared-group-form">
					<label for="search-shared-group-name1">Find Members Belonging to Both:</label>
					<input class="form-control" type="text" id="search-shared-group-name1" placeholder="Group 1 Name" data-autocomplete="home/autocomplete_group_name" data-id-element="#search-shared-group-name1-id"> 
					<input id="search-shared-group-name1-id" type="hidden" />
					<input class="form-control" type="text" id="search-shared-group-name2" placeholder="Group 2 Name" data-autocomplete="home/autocomplete_group_name" data-id-element="#search-shared-group-name2-id"> 
					<input id="search-shared-group-name2-id" type="hidden" />
					<a class="talkPageLink" type="button" id="search-shared-group-submit" name="group">Find</a>
				</section>
			</div>

			<!-- person information bar -->
			<h3 class="accordion_btn"><span class="icon-node"></span>Person</h3>
			<div  class="accordion_content " id="nodeinfo">
				<p id="node-info-text"></p>
				<a class="icon icon-annotate" id="node-icon-annotate"  name="group"></a>
				<a class="icon icon-chain" id="node-icon-chain" name="edge"></a>
				<p id="node-name" class="node-name">Click on a person node to see details</p>
				<b>BIRTH DATE&nbsp;</b> 				<a id="node-bdate"></a><br>
				<b>DEATH DATE&nbsp;</b> 				<a id="node-ddate"></a><br>
				<b>HISTORICAL SIGNIFICANCE</b><br>		<a id="node-significance"></a><br>
				<b>GROUPS&nbsp;</b>						<a id="node-group"></a><br>
				<b>CITATION</b><br>						<a id="node-cite"></a><br>
				<b>LINKS&nbsp;</b>
				<a id="node-DNBlink" target="_blank">Oxford DNB</a> &nbsp;
				<a id="node-GoogleLink" target="_blank">Google</a> <br><br>
				<a id="node-discussion" class="talkPageLink" target="_blank">View Entry History</a>
			</div>

			<!-- relationship information bar -->
			<h3 class="accordion_btn"><span class="icon-edge"></span>Relationship</h3>
			<div  class="accordion_content " id="edgeinfo">
				<a class="icon icon-annotate" id="edge-icon-annotate" name="edge"></a>
				<p id="edge-nodes">Click on a relationship to see details</p>
				<b>CONFIDENCE&nbsp;</b> 	<span id="edge-confidence"></span><br>
				<b>DATE RANGE&nbsp;</b> 	<span id="edge-daterange"></span><br>
				<span id="relationship-table">
					<b class="relationship-type relationship-cell">Type</b>
					<b class="relationship-from relationship-cell">From</b>
					<b class="relationship-to relationship-cell">To</b>
					<b class="relationship-confidence relationship-cell">Confidence</b>
				</span>
				<a class="talkPageLink" target="_blank" id="edge-discussion">View Entry History</a>
				<!--<b>CONTRIBUTORS: &nbsp;</b> 	<a id="edge-contributor"></a><br>--><br>
			</a>
			</div>

			<!-- group information bar -->
			<h3 class="accordion_btn" id="tab-group"><span class="icon-group"></span>Group</h3>
				<div class="accordion_content" id="groupinfo" name="group">
					<p id="group-name">Search a group to see details</p>
					<b>Description: </b><span id="group-description"></span><br>
					<p id="group-name2" class="group2"></p>
					<b class="group2">Description: </b><span class="group2" id="group-description2"></span><br>
					<span class="fill"></span>
				</div>


			<!-- contribution bar -->
			<h3 class="accordion_btn"><span class="icon-add"></span>Contribute</h3>
			<div  class="accordion_content tabs" id="add">
				<ul class="clearfix">
					<a href="/people/new"><li id="contribute-add-person">Person</li></a>
					<a href="/relationships/new"><li id="contribute-add-relationship">Relationship</li></a>
					<a href="/groups/new"><li id="contribute-add-group">Group</li></a>
				</ul>
			</div>
		</div>	
		<div id="filterBar">
			<ul>
				<li id="results"></li>
			</ul>
			<ul>
				<li><a id="nav-anchor">Apply Filters</a></li>
			</ul>
		</div>
		<div id="nav-slider" class="nav-hover">
			<label for="nav-slider-confidence">Relationship Confidence Level:</label>
			<span id="slidenav" ><article id="nav-slider-confidence" class="slider" name="1"></article></span>
			<article class="slider-result" id="nav-slider-confidence-result">Very Unlikely to Certain @ 0 - 100%</article>
			<input id="nav-slider-confidence-result-hidden" type="hidden" value="0 - 100"/>
			<label for="nav-slider-date">Birthdate Range:</label><input type="text" id="nav-slider-date-result" readonly value="1400 - 1800">
			<span id="slidenav2" ><article id="nav-slider-date" class="slider-date" name="2"></article></span>
			<a class="talkPageLink" type="button" id="nav-filter-submit" name="nav-node">Filter</a>
		</div>	
		<div id="group-table">
			<div class="group-row">
				<div class="col-md group-table-header">Member Name</div>
				<div class='col-md group-table-header'>Membership Start Date</div>
				<div class='col-md group-table-header'>Membership End Date</div>
				<div class='col-md group-table-header'>Link</div>
			</div>
		</div>
	</div>