
	<div id="everything">
		<div id="graph"></div>		
		<div id="zoom">
			<button class="icon icon-zoomin" name="in"></button>
			<button class="icon icon-zoomout" name="out"></button>	
			<button class="icon icon-color" id="icon-color"></button>
			<button class="icon icon-info"></button>
		</div>
		 <div id="colorlegend" title="Colors">
			<img src="assets/colorchart2.png" />
		</div> 
		<div id="accordion">
			<!-- search bar -->
			<h3 class="accordion_btn on" id="search-button"><span class="icon-magnify"></span>Search</h3>
			<div class="accordion_content active" id="search">
				<ul class="search-table">
					<li id="search-network" class="clicked btnl">Network</li>		
					<li id="search-shared-network" class="btnl">Shared network</li>
					<li id="search-group" class="btnl">Group</li>
					<li id="search-shared-group" class="btnl">Shared groups</li>
				</ul>

				<!-- NODE FORMS -->

				<section id="search-network-form">
					<!-- Testing the new autocomplete -->
					<label for="search-network-name">Find Network For:</label>
					<input class="form-control" type="text" id="search-network-name" placeholder="Person Name" data-autocomplete="home/autocomplete_person_search_names_all" data-id-element="#search-network-name-id"> 
					<input id="search-network-name-id" type="hidden" />
					<label for="search-network-slider-confidence">Relationship Confidence Level:</label>
					<span id="slide1" ><article id="search-network-slider-confidence" class="slider" name="1"></article></span>
					<article class="slider-result" id="search-network-slider-confidence-result">Likely to Certain</article>
					 @ <input id="search-network-slider-confidence-sinput" type="number" class="range-input" min="0" max ="100" value="60">
					 % - <input id="search-network-slider-confidence-einput" type="number" class="range-input" min="0" max ="100" value="100">% 
					<input id="search-network-slider-confidence-result-hidden" type="hidden" value="60 - 100"/>

					<label for="search-network-slider-date">Relationship Date Range:</label>
					<span id="slide2" ><article id="search-network-slider-date" class="slider" name="2"></article></span>
					<article class="slider-result" id="search-network-slider-date-result">Selected Years: </article>
					<input id="search-network-slider-date-sinput" type="number" class="range-input range-input-date" min="1500" max ="1700" value="1500">
					 - <input id="search-network-slider-date-einput" type="number" class="range-input range-input-date" min="1500" max ="1700" value="1700">
					<input id="search-network-slider-date-result-hidden" type="hidden" value="1500 - 1700"/>

					<!--<input type="checkbox" name="show-table" value="show-table" id="search-network-show-table" class="show-table">Show Table</input>-->
					<a class="talkPageLink" type="button" id="search-network-submit" name="node">Find</a>
				</section>

				<section id="search-shared-network-form">
					<label for="search-shared-network-name1">Find Shared Network For:</label>
					<input class="form-control" type="text" id="search-shared-network-name1" placeholder="Person 1 Name" data-autocomplete="home/autocomplete_person_search_names_all" data-id-element="#search-shared-network-name1-id"> 
					<input id="search-shared-network-name1-id" type="hidden" /><br>
					<input class="form-control" type="text" id="search-shared-network-name2" placeholder="Person 2 Name" data-autocomplete="home/autocomplete_person_search_names_all" data-id-element="#search-shared-network-name2-id"> 
					<input id="search-shared-network-name2-id" type="hidden" /><br>

					<label for="search-shared-network-slider-confidence">Relationship Confidence Level:</label>
					<span id="slide3" ><article id="search-shared-network-slider-confidence" class="slider" name="2"></article></span>
					<article class="slider-result" id="search-shared-network-slider-confidence-result">Likely to Certain</article>
					 @ <input id="search-shared-network-slider-confidence-sinput" type="number" class="range-input" min="0" max ="100" value="60">
					 % - <input id="search-shared-network-slider-confidence-einput" type="number" class="range-input" min="0" max ="100" value="100">% 					
					<input id="search-shared-network-slider-confidence-result-hidden" type="hidden" value="60 - 100"/>

					<label for="search-shared-network-slider-date">Relationship Date Range:</label>
					<span id="slide4" ><article id="search-shared-network-slider-date" class="slider" name="3"></article></span>
					<article class="slider-result" id="search-shared-network-slider-date-result">Selected Years:</article>
					<input id="search-shared-network-slider-date-sinput" type="number" class="range-input range-input-date" min="1500" max ="1700" value="1500">
					 - <input id="search-shared-network-slider-date-einput" type="number" class="range-input range-input-date" min="1500" max ="1700" value="1700">
					<input id="search-shared-network-slider-date-result-hidden" type="hidden" value="1500 - 1700"/>

					<!--<input type="checkbox" id="search-shared-network-show-table" value="table" class="show-table">Show table<br>-->
					<a class="talkPageLink" type="button" id="search-shared-network-submit" name="node">Find</a>
				</section>

			<!-- GROUP FORMS -->
				<section id="search-group-form">
					<label for="search-group-name">Find Members Of:</label>
					<input class="form-control" type="text" id="search-group-name" placeholder="Group Name" data-autocomplete="home/autocomplete_group_name" data-id-element="#search-group-name-id">  
					<input id="search-group-name-id" type="hidden" />
					<a class="talkPageLink" type="button" id="search-group-submit" name="group">Find</a>
				</section>

				<section id="search-shared-group-form">
					<label for="search-shared-group-name1">Find Members Belonging to Both:</label>
					<input class="form-control" type="text" id="search-shared-group-name1" placeholder="Group 1 Name" data-autocomplete="home/autocomplete_group_name" data-id-element="#search-shared-group-name1-id"> 
					<input id="search-shared-group-name1-id" type="hidden" />
					<input class="form-control" type="text" id="search-shared-group-name2" placeholder="Group 2 Name" data-autocomplete="home/autocomplete_group_name" data-id-element="#search-shared-group-name2-id"> 
					<input id="search-shared-group-name2-id" type="hidden" />
					<a class="talkPageLink" type="button" id="search-shared-group-submit" name="group">Find</a>
				</section>
			</div>

			<!-- person information bar -->
			<h3 class="accordion_btn"><span class="icon-node"></span>Person</h3>
			<div  class="accordion_content " id="nodeinfo">
				<p id="node-info-text"></p>
				<a class="icon icon-annotate" id="node-icon-annotate"  name="person"></a>
				<a class="icon icon-chain" id="node-icon-chain" name="person"></a>
				<a class="icon icon-label" id="node-icon-tag" name="person"></a>
				<p id="node-name" class="node-name">Click on a person node to see details</p>
				<b>BIRTH DATE&nbsp;</b> 				<span id="node-bdate"></span><br>
				<b>DEATH DATE&nbsp;</b> 				<span id="node-ddate"></span><br>
				<b>HISTORICAL SIGNIFICANCE</b><br>		<span id="node-significance"></span><br>
				<b>GROUPS&nbsp;</b>						<span id="node-group"></span><br>
				<b>LINKS&nbsp;</b>
				<a id="node-DNBlink" target="_blank"><%= image_tag "odnb_sq.gif", class: "odnb-img", alt: "ODNB" %></a>
				<a id="node-JstorLink" target="_blank"><%= image_tag "jstor.png", class: "jstor-img", alt: "JSTOR" %></a> 
				<a id="node-GoogleLink" target="_blank">Google</a><br><br>
				<a id="node-discussion" class="talkPageLink" target="_blank">More Information</a>
			</div>

			<!-- relationship information bar -->
			<h3 class="accordion_btn"><span class="icon-edge"></span>Relationship</h3>
			<div  class="accordion_content " id="edgeinfo">
				<a class="icon icon-annotate" id="edge-icon-annotate" name="edge"></a>
				<p id="edge-nodes">Click on a relationship to see details</p>
				<!-- <b id="edge-annotate"><a target="blank" href="http://sixdegreesoffrancisbacon.com/post//probabilistic-relationships-in-sdfb">MAX CONFIDENCE&nbsp;</a></b> 	<span id="edge-confidence"></span><br> -->
				<b id="edge-annotate">MAX CONFIDENCE&nbsp;</b><span id="edge-confidence"></span><br>
				<b>START YEAR&nbsp;</b> 	<span id="edge-startyear"></span><br>
				<b>END YEAR&nbsp;</b> 	<span id="edge-endyear"></span><br>
 									<a href="#" id="relationship-type"><b class="relationship-type relationship-cell">Type</b></a>
                    <a href="#" id="relationship-confidence"><b class="relationship-confidence relationship-cell">Avg Confidence</b></a>
 				<span id="relationship-table">
 				</span>
				<b>LINKS&nbsp;</b>
				<a id="edge-DNBlink" target="_blank"><%= image_tag "odnb_sq.gif", class: "odnb-img", alt: "ODNB" %></a>
				<a id="edge-JstorLink" target="_blank"><%= image_tag "jstor.png", class: "jstor-img", alt: "JSTOR" %></a>				
				<a id="edge-GoogleLink" target="_blank">Google</a> <br><br>
				<a class="talkPageLink" target="_blank" id="edge-discussion">More Information</a>
				<br>
			</a>
			</div>

			<!-- group information bar -->
			<h3 class="accordion_btn" id="tab-group"><span class="icon-group"></span>Group</h3>
				<div class="accordion_content" id="groupinfo" name="group">
					<a class="icon icon-annotate" id="group-icon-annotate"  name="group"></a>
					<a class="icon icon-label" id="group-icon-tag" name="group"></a>
					<p id="group-name">Search a group to see details</p>
					<b>Description: </b><span id="group-description"></span><br>
					<a class="talkPageLink" target="_blank" id="group-discussion">More Information</a>
					<a class="icon icon-annotate group2" id="group-icon-annotate2"  name="group"></a>
					<a class="icon icon-label group2" id="group-icon-tag2" name="group"></a>
					<p id="group-name2" class="group2"></p>
					<b class="group2">Description: </b><span class="group2" id="group-description2"></span><br>
					<span class="group2"><a class="talkPageLink" target="_blank" id="group-discussion2">More Information</a></span>
					<span class="fill"></span>
				</div>


			<!-- contribution bar -->
			<h3 class="accordion_btn"><span class="icon-add"></span>Contribute</h3>
			<div  class="accordion_content tabs" id="add">
				<ul class="clearfix">
					<a href="/people/new"><li id="contribute-add-person">Person</li></a>
					<a href="/relationships/new"><li id="contribute-add-relationship">Relationship</li></a>
					<a href="/groups/new"><li id="contribute-add-group">Group</li></a>
				</ul>
			</div>
		</div>	
		<div id="filterBar">
			<ul>
				<li id="results"></li>
			</ul>
			<ul>
				<li><a id="nav-anchor">Apply Filters</a></li>
			</ul>
		</div>
		<div id="nav-slider" class="nav-hover">
			<label for="nav-slider-confidence">Confidence Level:</label>
			<span id="slidenav" ><article id="nav-slider-confidence" class="slider" name="1"></article></span>
			<article class="slider-result" id="nav-slider-confidence-result">Very Unlikely to Certain</article>
			 @ <input id="nav-slider-confidence-sinput" type="number" class="range-input" min="0" max ="100" value="0">
			 % - <input id="nav-slider-confidence-einput" type="number" class="range-input" min="0" max ="100" value="100">% 						
			<input id="nav-slider-confidence-result-hidden" type="hidden" value="0 - 100"/>

			<label for="nav-slider-date">Date Range:</label>
			<span id="slidenav2" ><article id="nav-slider-date" class="slider" name="2"></article></span>
			<article id="nav-slider-date-result" class="slider-result">Relationship Date Range: </article>
			<input id="nav-slider-date-sinput" type="number" class="range-input range-input-date" min="1500" max ="1700" value="1500">
			 - <input id="nav-slider-date-einput" type="number" class="range-input range-input-date" min="1500" max ="1700" value="1700">
			<input id="nav-slider-date-result-hidden" type="hidden" value="1500 - 1700"/>
			<a class="talkPageLink" type="button" id="nav-filter-submit" name="nav-node">Filter</a>
		</div>	
		<table id="group-table">
			<tr class="group-row">
				<th class="col-md group-table-header">Member Name</th>
				<th class='col-md group-table-header'>Membership Start Date</th>
				<th class='col-md group-table-header'>Membership End Date</th>
				<th class='col-md group-table-header'>Link</th>
			</tr>
		</table>
	<div id="kickback">
		<div id="popup">
			<h2>The requested graph has exceeded 100 nodes, please choose an option</h2>
			<a id="kickbackno" class="btn">Refine Search</a>
			<a id="kickbackyes" class="btn">Show table</a>
		</div>
	</div>
 	<div id="landing">
		<div id="landing-open">
			<img id="net" src="assets/net.png" >
			<div id="wel">Welcome to the BETA </div>
			<div id="title">Six Degrees of Francis Bacon</div>
			<img id="arrow" src="assets/landing/arrow-down.png" width="40px">
		</div>
		<div id="landing-def">
			<div id="def-info">
				<b>Six Degrees of Francis Bacon</b> (SDFB) is a collaborative
				reconstruction of the social network of early modern
				Britain (1500-1700). SDFB shows who likely knew whom
				in the age of Elizabeth, Bacon, Shakespeare, and Hobbes.
				<br><br>
				First, the SDFB team mined the history of scholarship
				to estimate and visualize over 180,000+ relationships.
				On this site, scholars, students, and citizen humanists
				are expanding, curating, and revising early modern
				British history.
				<br><br>
				Our beta site is currently in an active state of development,
				which may result in unexpected bugs or site outages.
				If you encounter a bug or the website behaves in a manner
				you believe to be incorrect, please use the “Provide Feedback”
				link to report it. If you encounter a site outage,
				please try again in 30-60 seconds. Thank you!
			</div>
		</div>
		<div id="landing-what">
			<div id="threecircles">
				<h5>What can you do with Six Degrees of Francis Bacon?</h5>
				<table id="threetable">
					<tr>
						<td><img src="assets/landing/learn.png" width="120px"></td>
						<td><img src="assets/landing/query.png" width="120px"></td>
						<td><img src="assets/landing/contribute.png" width="120px"></td>
					</tr>
					<tr>
						<td>Explore relationships and see early modern networks </td>
						<td>Ask how individuals or groups were connected</td>
						<td>Add names, annotate relationships, flag errors, share knowledge </td>
					</tr>
				</table>
			</div>
		</div>
		<div id="landing-features">
			<h5>Search Feature</h5>
			<table id="searches">
				<tr>
					<td>
						<img src="assets/landing/f1.png" width="140px">
						<br><br>
						The connections of one individual
					</td>
					<td>
						<img src="assets/landing/f2.png" width="140px">
						<br><br>
						The mutual connections between two individuals
					</td>
				</tr>
				<tr>
					<td>
						<img src="assets/landing/f3.png" width="140px">
						<br><br>
						The members of one group
					</td>
					<td>
						<img src="assets/landing/f4.png" width="140px">
						<br><br>
						The members of two groups
					</td>
				</tr>
			</table>
		</div>
		<div id="landing-sidebar">
			<h5>Research</h5>
			<img src="assets/landing/sidebar.png" height="70%">
		</div>
		<div id="arrows">
			<img id="arrow-up" src="assets/landing/arrow-up.png" width="40px">
			<img id="arrow-down" src="assets/landing/arrow-down.png" width="40px">
		</div>
		<!--<div id="skipIntro">Skip Intro</div>-->
	</div> <!-- closing landing -->
	<div id="landing-video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/41_DQQii628" frameborder="0" allowfullscreen></iframe>
		<div><a href="http://sixdegfrancisbacon.herokuapp.com/tutorial" style="color: #FFFFFF" target="_blank">Video Transcript</a></div>
		<div id="skipIntro">Skip Intro</div>
	</div>