


 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= include_gon %>
 

  <link rel="stylesheet" href="assets/insights.standalone.css" />
 
  
  
  </head>

  <body>

    
  <div id="loader">rendering...</div>
  <div id="parent"></div>
   

  </body>
</html>


