<%
def recent_contributions
    recent_contrib = ((Person.all_recent.all_approved.limit(100)) + 
                      (Group.all_recent.all_approved.limit(100)) + 
                      (Relationship.all_recent.all_approved.limit(100)) + 
                      (GroupAssignment.all_recent.all_approved.limit(100)) + 
                      (UserGroupContrib.all_recent.all_approved.limit(100)) + 
                      (UserPersonContrib.all_recent.all_approved.limit(100))) + 
                      (UserRelContrib.all_recent.all_approved.limit(100))
    recent_contrib.sort! {|a,b| a.updated_at <=> b.updated_at}.reverse!
    @recent_contrib = recent_contrib.take(100)
  end

# calculates, based off of the 100 most recent contributions, which users have contributed and how much
  def recent_user_points
    users_rank = Hash.new
    @recent_contrib.each do |i|
      if users_rank.key?(i.created_by)
        users_rank[i.created_by] += 1
      else
        users_rank[i.created_by] = 1
      end
    end
    @users_rank = users_rank.sort_by { |created_by, points| points }.reverse
  end

# usernames on the leaderboard based off of id from recent_user_points
  def get_username(id)
    # user id will go through the method
    # search through all users
    # if user id == the user's id in the loop
    # return that username yay
    user = User.find([id])
    @username = user[0].username
    # @username = user.get_attribute_by_name(username)
  end
  %>

  <p id="leader-name">Top Contributors</p>
          <p id="leader-clarify">(Last 100 Contributions)</p>
          <table id="leaderboard">
            <tr class="title">
              <th>RANK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th>USERNAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th>PERCENTAGE</th>
            <tr>
              <% recent_contributions %>
              <% recent_user_points %>
              <% rank = 1 %>
              <% @users_rank.each do |i| %>
              <% break if rank == 11 %>
              <% if logged_in? && current_user.id == i[0] %>
                <tr class="user">
              <% else %>
                <tr>
              <% end %>
              <% get_username(i[0]) %>
                <td><%= link_to rank, user_path(i[0]) %>. </td>
                <td><%= link_to @username, user_path(i[0]) %></td>
                <td><%= link_to i[1], user_path(i[0]) %>%</td>
                <% rank += 1 %>
            </tr>
            <% end %>

            </table>
            <p align="center"> No Recent Contributions </p>