<h1>Export Relationship Type/Category Assignments Data</h1>
<div class="well">
  <div class="container">
    <%=link_to 'Export Relationship Types', '/export_rel_types', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Categories', '/export_rel_cats', :class => 'btn btn-primary'%><br>
    <%=link_to 'Export Relationship Type/Category Assignments', '/export_rel_cat_assigns', :class => 'btn btn-primary'%><br>
  </div>
</div>