<b>Find Relationship</b>
<form class="form-search" action="/relationship_search" method="get">  
<input type="text" data-autocomplete="relationships/autocomplete_person_search_names_all" data-id-element="#search-person1-id" placeholder="First Person's Name">  
<input id="search-person1-id" name="person1Query" type="hidden" />
<input type="text" data-autocomplete="relationships/autocomplete_person_search_names_all" data-id-element="#search-person2-id" placeholder="Second Person's Name">  
<input id="search-person2-id" name="person2Query" type="hidden" />
<button type="submit" value="Search" class="btn btn-primary">Search</button>  
</form>