<section>
	<form name='nodeForm' novalidate ng-submit= "submitNode(addedNodes)">
		<h3 class="">Add person to this view</h3><span class="remove-btn contribute" ng-click="removeNode(newNode.id)">remove this node</span>
		<div class="form-content">
			<h4 class="paragraph-title">Person Name <i class="fa fa-asterisk" aria-hidden="true"></i></h4>
		  <input type="text" name="personName" ng-model="newNode.name" placeholder="Search for a person" typeahead-template-url="views/groupsTypeaheadTemplate.html" uib-typeahead="person as person.attributes.name for person in callPersonTypeahead($viewValue)" typeahead-loading="loadingPersonAdd" typeahead-no-results="noResultsPersonAdd" class="form-control" typeahead-show-hint="true" typeahead-on-select="foundPerson($item)" typeahead-wait-ms='500' required>
			<i ng-show="loadingPersonAdd" class="glyphicon glyphicon-refresh"></i>
			<!-- <div ng-show="noResultsPersonAdd">
				<i class="glyphicon glyphicon-remove"></i> Person not found: click canvas to add
			</div> -->
			<div ng-show="newNode.exists">
				<p>Person already in <i>Six Degrees</i></p>
				<p ng-show="notInView">Click "add & continue" to add to this view.</p>
				<p ng-show="!notInView">Try again.</p>
			</div>
			<h4>Birth date <i class="fa fa-asterisk" aria-hidden="true"></i></h4>
		  <div class="input-group">
				<select name="birthType" class="input-group-addon" ng-model="newNode.birthDateType" ng-disabled="newNode.exists" ng-options="type.name for type in config.dateTypes" required></select><i class="fa fa-caret-down" aria-hidden="true"></i>
		    <input name="birthDate" ng-disabled="newNode.exists" class="form-control" ng-model="newNode.birthDate" required>
		  </div>

		  <h4>Death date <i class="fa fa-asterisk" aria-hidden="true"></i></h4>
		  <div class="input-group">
				<select name="deathType" class="input-group-addon" ng-model="newNode.deathDateType" ng-disabled="newNode.exists" ng-options="type.name for type in config.dateTypes" required></select><i class="fa fa-caret-down" aria-hidden="true"></i>
		    <input name="deathDate" required class="form-control" ng-disabled="newNode.exists" ng-model="newNode.deathDate">
		  </div>

			<h4>Gender <i class="fa fa-asterisk" aria-hidden="true"></i></h4>
		  <div class="input-group">
				<select name="gender" class="input-group-reltype" ng-model="newNode.gender" ng-disabled="newNode.exists" ng-options="type for type in config.genderTypes" required></select><i class="fa fa-caret-down reltype" aria-hidden="true"></i>
		  </div>

			<h4>Prefix</h4>
			<input class="form-control" ng-model="newNode.prefix" ng-disabled="newNode.exists" placeholder="Prefix">

			<h4>Title</h4>
			<input class="form-control" ng-model="newNode.title" ng-disabled="newNode.exists" placeholder="Title">

			<h4>Suffix</h4>
			<input class="form-control" ng-model="newNode.suffix" ng-disabled="newNode.exists" placeholder="Suffix">

			<h4>Historical Significance</h4>
	    <input type="text" ng-model="newNode.historical_significance" ng-disabled="newNode.exists" class="form-control" placeholder="Historical Significance">

			<h4>Alternate Names</h4>
			<input class="form-control" ng-model="newNode.alternates" ng-disabled="newNode.exists" placeholder="Alternate Names (comma-separated)">

			<h4>Citation</h4>
	    <textarea ng-disabled="newNode.exists" type="text" placeholder="{{ sampleCitation }}" ng-model="newNode.citation" class="form-control"></textarea>

			<br><input ng-show="$root.user.user_type !== 'Standard'" ng-model="newNode.is_approved" type="checkbox"/> <span ng-show="$root.user.user_type !== 'Standard'">Approved?</span></input>

			<!-- <h4>Notes</h4>
			<input class="form-control" ng-model="newNode.notes" ng-disabled="newNode.exists" placeholder="Notes"> -->
			<br>
			<input ng-show="config.viewMode == 'group-force'" type="checkbox" ng-model="alsoGroupAssign" aria-label="Toggle ngShow"> <span ng-show="config.viewMode == 'group-force'">Also add to {{groupName}}</span></input>
			<!-- <h4 style="display:inline;" ng-show="config.viewMode == 'group-force'"></h4> -->

			<h4 ng-show="alsoGroupAssign">Start date</h4>
		  <div ng-show="alsoGroupAssign" class="input-group">
				<select class="input-group-addon" ng-model="newGroupAssign.startDateType" ng-options="type.name for type in config.dateTypes"></select><i class="fa fa-caret-down" aria-hidden="true"></i>
		    <input class="form-control" ng-model="newGroupAssign.startDate">
		  </div>

		  <h4 ng-show="alsoGroupAssign">End date</h4>
		  <div ng-show="alsoGroupAssign" class="input-group">
				<select class="input-group-addon" ng-model="newGroupAssign.endDateType" ng-options="type.name for type in config.dateTypes"></select><i class="fa fa-caret-down" aria-hidden="true"></i>
		    <input class="form-control" ng-model="newGroupAssign.endDate">
		  </div>

			<div class="alert alert-danger" ng-show="nodeForm.$invalid && !newNode.exists && (nodeForm.$dirty || nodeForm.$touched)">
				<div ng-show="nodeForm.personName.$error.required">
					You must include a name.
				</div>
				<div ng-show="nodeForm.gender.$error.required">
					You must select a gender from the dropdown.
				</div>
				<div ng-show="nodeForm.birthType.$error.required">
					You must select a birth date type from the dropdown.
				</div>
				<div ng-show="nodeForm.deathType.$error.required">
					You must select a death date type from the dropdown.
				</div>
				<div ng-show="nodeForm.birthDate.$error.required">
					You must include a birth date.
				</div>
				<div ng-show="nodeForm.deathDate.$error.required">
					You must include a death date.
				</div>
			</div>

			<button ng-disabled="(newNode.exists && !notInView) || (nodeForm.$invalid && !newNode.exists)" class="btn btn-primary" type="submit">Add & Continue</button>

		</div>


	</form>
</section>
<!-- <span class="close" ng-click="addNodeClosed = !addNodeClosed; peopleFinderClosed = true; legendClosed = true; $root.filtersClosed = true; addLinkClosed = true; groupAssignClosed = true;" style="color: white;"> -->
<span class="close" ng-click="nodeAlert()" style="color: white;">
	<i ng-if="!addNodeClosed" class="fa fa-times" aria-hidden="true"></i>
	<i ng-if="addNodeClosed" class="fa fa-plus-circle" aria-hidden="true"></i>
</span>
