<section ng-if="!currentSelection.type">
  <p ng-if="!config.contributionMode" class="help-info">Select a person or a relation to display contextual information.</p>
  <p ng-if="config.contributionMode" class="contribution">In contribution mode you can edit links and nodes, or create new ones.</p>
  <p ng-if="config.contributionMode" class="contribution">Click anywhere on the canvas to add a node.</p>
  <p ng-if="config.contributionMode" class="contribution">Drag a node onto any other node to add a link.</p>
  <p ng-if="config.contributionMode" class="contribution">Drag a node onto the groups bar to add a node to a group.</p>
  <p><button ng-show="config.viewMode !== 'group-force'" type="button" class="btn btn-primary" ng-click="openTable()">See Table View</button></p>
</section>
<section ng-if="currentSelection.type == 'person' " id="XXXcurrent-selection-person1">
  <h2>{{currentSelection.attributes.name }}</h2>
  <p ng-if="currentSelection.attributes.historical_significance != ''">{{currentSelection.attributes.historical_significance}}</p>
  <p ng-if="currentSelection.attributes.historical_significance == ''"> &empty; </p>
  <small-timeline class="person" details="currentSelection"></small-timeline>
  <span ng-if="config.contributionMode" class="edit-btn person" ng-click="editData(currentSelection.id)">Edit data</span>
</section>
<section ng-if="currentSelection.type == 'relationship' ">
  <h2>{{ currentSelection.source.attributes.name }}</h2>
  <p ng-if="currentSelection.source.attributes.historical_significance != ''">{{ currentSelection.source.attributes.historical_significance }}</p>
  <p ng-if="currentSelection.source.attributes.historical_significance == ''"> &empty; </p>
  <small-timeline class="person" details="currentSelection.source"></small-timeline>
  <span ng-if="config.contributionMode" class="edit-btn person" ng-click="editData(currentSelection.source.id)">Edit data</span>
</section>
<section class="rel-type" ng-if="currentSelection.type == 'relationship' " ng-repeat='n in currentSelection.types'>
  <small-timeline class="relationship" details="currentSelection"></small-timeline>
  <span ng-if="config.contributionMode" class="edit-btn relationship" ng-click="editData(currentSelection.id)">Edit data</span>
</section>
<section ng-if="currentSelection.type == 'relationship' ">
  <h2>{{ currentSelection.target.attributes.name }}</h2>
  <p ng-if="currentSelection.attributes.historical_significance != ''">{{ currentSelection.target.attributes.historical_significance }}</p>
  <p ng-if="currentSelection.attributes.historical_significance == ''"> &empty; </p>
  <small-timeline class="person" details="currentSelection.target"></small-timeline>
  <span ng-if="config.contributionMode" class="edit-btn person" ng-click="editData(currentSelection.target.id)">Edit data</span>
</section>
<section ng-if="currentSelection.type == 'group'">
  <h2>{{currentSelection.attributes.name}}</h2>
  <p ng-if="currentSelection.attributes.description != ''">{{currentSelection.attributes.description}}</p>
  <!-- <p ng-if="currentSelection.attributes.historical_significance == ''"> &empty; </p> -->
  <!-- <small-timeline class="person" details="currentSelection"></small-timeline> -->
  <div ng-if="currentSelection.attributes.people.length > 0" class="group-members">
    <div class="flex-boxed list-header">
      <div><span style="width:20px; display: inline-block;">#</span> Member name</div>
      <div>Since</div>
    </div>
    <div>
      <div class="flex-boxed" ng-repeat="member in currentSelection.attributes.people">
        <div><span style="width:20px; display: inline-block;">{{$index + 1}}</span> {{member.person_id}}</div>
        <div>{{member.start_year_type}} {{member.start_year}}</div>
      </div>
    </div>
  </div>
  <div ng-if="currentSelection.attributes.people.length < 1">
      No members
  </div>
  <span ng-if="config.contributionMode" class="edit-btn person" ng-click="editData(currentSelection.id)">Edit data</span>
</section>
<section id="more-info" ng-if="currentSelection.type">
  <p>

    <button type="button" class="btn btn-primary" ng-click="searchODNB(currentSelection.attributes.odnb_id,currentSelection.attributes.name)">ODNB</button>
    <button type="button" class="btn btn-primary" ng-click="searchJstor(currentSelection.attributes.name.replace(' ','+'))">J Stor</button>
    <button type="button" class="btn btn-primary" ng-click="searchGoogle(currentSelection.attributes.name.replace(' ','+'))">Google</button>
  </p>
  <!-- <p><a ng-click="scope.openTable()">Further info&hellip;</a></p> -->
</section>
