<section ng-if="!currentSelection.type">
  <p ng-if="!config.contributionMode" class="help-info">Select a person or a relation to display details.</p>
  <h4 ng-if="config.contributionMode" class="contribution">Contribute mode</h4>
  <h5 ng-if="config.contributionMode" class="contribution"><i class="fa fa-plus-circle" aria-hidden="true"></i> To add a person: double-click anywhere on the canvas.</h5>
  <h5 ng-if="config.contributionMode" class="contribution"><i class="faXX XXfa-plus-circle" aria-hidden="true" style="display: inline-block; width: 12.5px; height: 14px; background-image: url('/images/add-link-icon-black.svg'); background-repeat: no-repeat; background-size: cover;"></i> To add a relationship: drag a node onto any other node.</h5>
  <h5 ng-if="config.contributionMode" class="contribution"><i class="fa fa-users" aria-hidden="true"></i> To add a person to a group: drag a node onto the groups bar at the bottom of the screen, or click on any node and type in a group name.</h5>
  <h5 ng-if="config.contributionMode" class="contribution"><i class="fa fa-search" aria-hidden="true" style="color:black;"></i> Find any node within this view.</h5>
  <!-- <p><button ng-show="config.viewMode !== 'group-force'" type="button" class="btn btn-primary" ng-click="openTable()">See Table View</button></p>
  <p><button type="button" class="btn btn-primary">Export</button></p> -->
  <div ng-show = "config.viewMode !== 'group-force'" class="btn-group btn-group-justified">
    <label class="btn btn-primary" ng-click="openTable()">Table <i class="fa fa-table" aria-hidden="true"></i></label>
    <a class="btn btn-primary" target="_blank" download="{{config.networkName}}.json" ng-href="{{download}}">Export <i class="fa fa-download" aria-hidden="true"></i></a>
  </div>
  <a ng-show="config.viewMode === 'group-force'" class="btn btn-primary" target="_blank" download="{{config.networkName}}.json" ng-href="{{download}}">Export <i class="fa fa-download" aria-hidden="true"></i></a>
</section>
<section ng-if="currentSelection.type == 'person' " id="XXXcurrent-selection-person1">
  <div class="person-right">
    <a href ng-show="$root.user.is_active && $root.user.user_type !== 'Standard'" ng-click="$root.openEditPerson(currentSelection.id)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <p ng-show="currentSelection.attributes.created_by !== 2" class="person-created"><a href ui-sref="home.user({userId: currentSelection.attributes.created_by})">{{currentSelection.attributes.created_by_name}}</a></p>
  </div>
  <h2>{{currentSelection.attributes.name }}</h2>
  <p ng-if="currentSelection.attributes.historical_significance != ''">{{currentSelection.attributes.historical_significance}}</p>
  <small-timeline class="person" details="currentSelection"></small-timeline>
</section>
<section ng-if="currentSelection.type == 'relationship' ">
  <h2>{{ currentSelection.source.attributes.name }}</h2>
  <p ng-if="currentSelection.source.attributes.historical_significance != ''">{{ currentSelection.source.attributes.historical_significance }}</p>
  <small-timeline class="person" details="currentSelection.source"></small-timeline>
</section>
<div class="all-types" ng-if="currentSelection.type == 'relationship' ">
  <section class="rel-type" ng-if="currentSelection.type == 'relationship' " ng-repeat='n in currentSelection.types'>
    <small-timeline class="relationship" details="currentSelection"></small-timeline>
  </section>
</div>
<section ng-if="currentSelection.type == 'relationship' ">
  <h2>{{ currentSelection.target.attributes.name }}</h2>
  <p ng-if="currentSelection.attributes.historical_significance != ''">{{ currentSelection.target.attributes.historical_significance }}</p>
  <small-timeline class="person" details="currentSelection.target"></small-timeline>
</section>
<section ng-if="currentSelection.type == 'group'">
  <div class="person-right">
    <a href ng-show="$root.user.is_active && $root.user.user_type !== 'Standard'" ng-click="$root.openEditGroup(currentSelection.data[0].id)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <p ng-show="currentSelection.data[0].attributes.created_by !== 2" class="person-created"><a href ui-sref="home.user({userId: currentSelection.data[0].attributes.created_by})">{{currentSelection.data[0].attributes.created_by_name}}</a></p>
  </div>
  <h2>{{currentSelection.data[0].attributes.name}}</h2>
  <p ng-if="currentSelection.attributes.description != ''">{{currentSelection.data[0].attributes.description}}</p>

  <div ng-if="currentSelection.includes.length > 0" class="group-members">
    <div class="flex-boxed list-header">
      <div><span style="width:20px; display: inline-block;">#</span> Member name</div>
      <div>Since</div>
    </div>
    <div>
      <div class="flex-boxed" ng-repeat="member in currentSelection.includes">
        <div><span style="width:20px; display: inline-block;">{{$index + 1}}</span> {{member.attributes.name}}</div>
        <div>{{member.start_year_type}} {{member.start_year}}</div>
      </div>
    </div>
  </div>
  <div ng-if="currentSelection.attributes.people.length < 1">
      No members
  </div>
</section>
<section id="more-info" ng-if="currentSelection.type">
  <p>

    <img src='/images/odnb.gif' ng-click="searchODNB()" ng-attr-title="Search ODNB"/>
    <img src='/images/jstor.png' ng-click="searchJstor()" ng-attr-title="Search JSTOR"/>
    <i class="fa fa-google" ng-click="searchGoogle()" ng-attr-title="Search Google"></i>
    <span>

      <button ng-show="currentSelection.type === 'person'" ng-class="{'no-user' : currentSelection.attributes.created_by === 2}" type="button" class="btn btn-primary" ui-sref="home.visualization({ ids: currentSelection.id })">Visualize</button>
      <button ng-show="currentSelection.type === 'group'" ng-class="{'no-user' : currentSelection.data[0].attributes.created_by === 2}" type="button" class="btn btn-primary" ui-sref="home.visualization({ ids: currentSelection.data[0].id, type: 'network' })">Visualize</button>
      <button ng-show="currentSelection.type === 'relationship'" type="button" class="btn btn-primary" ui-sref="home.visualization({ ids: currentSelection.source.id + ',' + currentSelection.target.id })">Shared Network</button>
      <i ng-show="currentSelection.type === 'person' || currentSelection.type === 'group'" class="fa fa-book" uib-tooltip="{{selectionCitation}}" tooltip-placement="bottom"></i>
    </span>
  </p>
</section>
