<section>
  <form ng-submit= "submitGroupAssign()">
    <h3 class="">Add group assignment</h3>
    <p>To add a person to a group, drag a node onto a group in the Groups Bar (below), and these fields will auto-populate. If you need a node that's not in the current view, click the canvas or add it with the form above. If you need a group that's not in the view, drag the node into the "minor groups" section.</p>

    <h4 class="paragraph-title">Person</h4>
    <input ng-disabled="true" type="text" ng-model="groupAssign.person.name" class="form-control">

    <h4>Group</h4>
    <input ng-disabled="true" type="text" ng-model="groupAssign.group.name" class="form-control">

    <h4>Start date</h4>
    <div class="input-group">
      <select class="input-group-addon" ng-model="groupAssign.startDateType" ng-options="type for type in config.dateTypes"></select><i class="fa fa-caret-down" aria-hidden="true"></i>
      <input class="form-control" ng-model="groupAssign.startDate" ng-model-options="{ getterSetter: true }">
    </div>

    <h4>End date</h4>
    <div class="input-group">
      <select class="input-group-addon" ng-model="groupAssign.endDateType" ng-options="type for type in config.dateTypes"></select><i class="fa fa-caret-down" aria-hidden="true"></i>
      <input class="form-control" ng-model="groupAssign.endDate">
    </div>

    <h5>Your submission needs to be validated by SDFB staff. You will see it as unapproved contribution in the meantime.</h5>
    <button type="submit" class="btn btn-primary">Done</button>
  </form>

</section>
<span class="close" ng-click="groupAssignClosed = !groupAssignClosed; legendClosed = true" style="color: white;">
	<i ng-if="!groupAssignClosed" class="fa fa-times" aria-hidden="true"></i>
	<i ng-if="groupAssignClosed" class="fa fa-users" aria-hidden="true"></i>
</span>
