<!-- <div class="modal-header">
    <h3 class="modal-title" id="modal-title">List of Minor Groups</h3>
</div> -->
<div class="modal-body reset" id="modal-reset-body">
    <h3 class="modal-title">Reset Password</h3>
    <i class="fa fa-times close-btn" aria-hidden="true" type="button" ng-click="dismiss()" aria-label="Close"></i>

    <form name="resetForm" class="form" id="formLogin" ng-submit="save()">
      <h3>New Password <i class="fa fa-asterisk" aria-hidden="true"></i></h3>
      <input required class="form-control" ng-model="new.password" type="password">
      <h3>Confirm Password <i class="fa fa-asterisk" aria-hidden="true"></i></h3>
      <input required class="form-control" ng-model="new.password_confirmation" type="password"><br>
      <button ng-disabled="resetForm.$invalid" type="submit" id="btnLogin" class="btn btn-primary">Change password</button>
      <div class="invalid-form" ng-show="resetForm.$invalid">
				You are missing required fields.
			</div>
    </form>
    <!-- <ul>
        <li class="group {{'g'+group.groupId}}" ng-class="{ 'active': group.active }" ng-repeat="group in $ctrl.groups">
            <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.group = group">Group ID: {{ group.groupId }} - Number of people: {{ group.value }}</a>
        </li>
    </ul>
    Selected: <b>{{ $ctrl.selected.group }}</b> -->
</div>
