<!-- <div class="modal-header">
    <h3 class="modal-title" id="modal-title">List of Minor Groups</h3>
</div> -->
<div class="modal-body curate" id="modal-curate-body">
    <h3 class="modal-title">Curate Recent Submissions</h3>
    <i class="fa fa-times close-btn" aria-hidden="true" type="button" ng-click="dismiss()" aria-label="Close"></i>
    <!-- <div>You've made {{$root.user.points}} contributions!</div>
    <div class="user-contributions">
      <h5>People</h5>
      <div ng-repeat="person in $root.user.contributions.people">
        <a ui-sref="home.visualization({ ids: person.id })">{{person.name}}</a>
      </div>
      <h5>Relationships</h5>
      <div ng-repeat="rel in $root.user.contributions.relationships">
        {{rel.people}}
      </div>
      <h5>Relationship Type Assignments</h5>
      <div ng-repeat="relType in $root.user.contributions.relationship_types">
        {{relType.people}}: {{relType.type}}
      </div>
      <h5>Groups</h5>
      <div ng-repeat="group in $root.user.contributions.groups">
        <a ui-sref="home.visualization({ ids: group.id })">{{group.name}}</a>
      </div>
      <h5>Group Assignments</h5>
      <div ng-repeat="groupAssign in $root.user.contributions.group_assignments">
        {{groupAssign.person_name}} in {{groupAssign.group_name}}
      </div>
    </div> -->
    <h4 class="modal-title">New People</h4>
    <table class="table table-hover">
        <tbody>
            <tr class="person {{'p'+person.id}}" ng-class="{ 'active': group.active }" ng-repeat="person in user.contributions.people">
                <td><a ng-click="dismiss()" ui-sref="home.visualization({ ids: person.id })">{{person.name}}</a></td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">New Relationships</h4>
    <table class="table table-hover">
        <tbody>
            <tr class="rel {{'r'+rel.id}}" ng-class="{ 'active': group.active }" ng-repeat="rel in user.contributions.relationships">
                <td>{{ rel.people }}</td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">New Relationship Types</h4>
    <table class="table table-hover">
        <thead>
            <tr>
              <td class="source-column">People</td>
              <td class="target-column">Type</td>
            </tr>
        </thead>
        <tbody>
            <tr class="rel {{'r'+rel.id}}" ng-class="{ 'active': group.active }" ng-repeat="rel in user.contributions.relationship_types">
                <td>{{ rel.people }}</td>
                <td>{{ rel.type }}</td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">New Groups</h4>
    <table class="table table-hover">
        <tbody>
            <tr class="group {{'g'+group.id}}" ng-class="{ 'active': group.active }" ng-repeat="group in user.contributions.groups">
                <td><a ng-click="dismiss()" ui-sref="home.visualization({ ids: group.id })">{{group.name}}</a></td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">New Group Assignments</h4>
    <table class="table table-hover">
        <thead>
            <tr>
              <td class="person-column">Person Name</td>
              <td class="group-column">Group Name</td>
            </tr>
        </thead>
        <tbody>
            <tr class="rel {{'r'+rel.id}}" ng-class="{ 'active': group.active }" ng-repeat="rel in user.contributions.group_assignments">
                <td>{{ rel.person_name }}</td>
                <td>{{ rel.group_name }}</td>
            </tr>
        </tbody>
    </table>
    <button ng-click="close()" type="button" class="btn btn-primary">
        Close
    </button>
    <!-- <ul>
        <li class="group {{'g'+group.groupId}}" ng-class="{ 'active': group.active }" ng-repeat="group in $ctrl.groups">
            <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.group = group">Group ID: {{ group.groupId }} - Number of people: {{ group.value }}</a>
        </li>
    </ul>
    Selected: <b>{{ $ctrl.selected.group }}</b> -->
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
</div> -->
