<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Sign up for Six Degrees</h3>
    <i class="fa fa-times close-btn" aria-hidden="true" type="button" ng-click="$ctrl.cancel()" aria-label="Close"></i>
</div>
<div class="modal-body signup" id="modal-signup-body">
    <form class="form" id="formLogin" ng-submit="$ctrl.close()">
      <h3>First name</h3>
      <input class="form-control" ng-model="$ctrl.new.first_name" type="text">
      <h3>Last name</h3>
      <input class="form-control" ng-model="$ctrl.new.last_name" type="text">
      <h3>Email</h3>
      <input class="form-control" ng-model="$ctrl.new.email" type="text">
      <h3>Username</h3>
      <input class="form-control" ng-model="$ctrl.new.username" type="text">
      <h3>Affiliation (optional)</h3>
      <input class="form-control" ng-model="$ctrl.new.affiliation" type="text">
      <h3>About (optional)</h3>
      <input class="form-control" ng-model="$ctrl.new.about_description" type="text">
      <h3>ORCID</h3>
      <input class="form-control" ng-model="$ctrl.new.orcid" type="text">
      <h3>New Password</h3>
      <input class="form-control" ng-model="$ctrl.new.password" type="password">
      <h3>Confirm Password</h3>
      <input class="form-control" ng-model="$ctrl.new.password_confirmation" type="password"><br>
      <button type="submit" id="btnLogin" class="btn btn-primary">Sign up!</button>
    </form>
</div>
