<div class="modal-body about" id="modal-reset-body">
    <h3 class="modal-title">About Six Degrees of Francis Bacon</h3>
    <i class="fa fa-times close-btn" aria-hidden="true" type="button" ng-click="dismiss()" aria-label="Close"></i>

    <h4>Overview</h4>
    <div>
      Six Degrees of Francis Bacon is a digital reconstruction of the early modern social network that scholars and students from all over the world can collaboratively expand, revise, curate, and critique. Unlike published prose, Six Degrees is extensible, collaborative, and interoperable: extensible in that people and associations can always be added, modified, developed, or, removed; collaborative in that it synthesizes the work of many scholars; interoperable in that new work on the network is put into immediate relation to previously studied relationships.
    </div>

    <div>
      This website is hosted by <a href="http://www.library.cmu.edu/" target="_blank">Carnegie Mellon University Libraries</a>, and data is available for download both on this site and as part of the <a href="http://collections.folger.edu/" target="_blank">Folger Shakespeare Library's digital collections</a>.
    </div>

    <h4>Team</h4>

    <div class='bio'>
      <img class="bio-img" ng-src='/images/warren.jpg' />
			<a href="http://www.cmu.edu/hss/english/people/faculty/bios/warren-christopher.html" target="_blank">Christopher Warren</a>, Project Co-Founder and Director, is Associate Professor of Literary and Cultural Studies at Carnegie Mellon University.  The author of <em>Literature and the Law of Nations, 1580-1680</em> (Oxford University Press, 2015), which won the Roland H. Bainton Prize for Literature, Warren’s interests include digital humanities, the history of international law, the literature and culture of early modern Britain, and diplomatic, legal, and commercial networks in early modern Europe.   His articles have appeared in <em>English Literary Renaissance</em>, <em>The Seventeenth Century</em>, <em>Digital Humanities Quarterly</em>, <em>The Programming Historian</em>, and the <em>European Journal of International Law</em>.  Warren directs Carnegie Mellon’s program in Humanities Analytics (HumAn) and the Pittsburgh Consortium of Medieval and Renaissance Studies.</div>
			<div class='bio'>
			<img class="bio-img" src='/images/shore.jpg' />
			<a href="http://georgetown.academia.edu/DanielShore" target="_blank">Daniel Shore</a>, Co-PI, is Associate Professor of English at Georgetown University. He is currently completing his second book, <em>Cyberformalism</em>, which argues that full-text searchable archives make possible new objects of philological inquiry. His first book was <em>Milton and the Art of Rhetoric</em> (Cambridge, 2012), and he has published articles on early modern literature and on digital humanities research in <em>PMLA</em>, <em>Critical Inquiry</em>,<em>Modern Philology</em>, <em> Milton Studies</em>, <em>Milton Quarterly</em>, and <em>Early Modern Literary Studies</em>.</div>
			<div class='bio'>
			<img class="bio-img" src='/images/otis.jpg' />
			<a href="http://www.jessicaotis.com" target="_blank">Jessica Otis</a>, Co-PI, is Carnegie Mellon's Digital Humanities Specialist in the University Libraries and Visiting Assistant Professor of History. After receiving both her MS in Mathematics and her PhD in History from the University of Virginia, she spent two years as a CLIR-DLF Postdoctoral Fellow in Early Modern Data Curation working on Six Degrees of Francis Bacon. Her research focuses on the cultural history of mathematics, cryptography, and plague in early modern England and her articles have appeared in the <em>Journal of British Studies</em>, <em>Digital Humanities Quarterly</em>, and the <em>International Journal of Humanities and Arts Computing</em>.</div>
			<div class='bio'>
			<img class="bio-img" src='/images/weingart.jpg' />
			<a href="http://scottbot.net/i-am/" target="_blank">Scott Weingart</a>, Co-PI, is Carnegie Mellon University Library’s Program Director of Digital Humanities. His research focuses on early modern scholarly networks, and he has been a member of research teams at Oxford, Stanford, and Huygens ING in their pursuit of Republic of Letters digital projects. Weingart is a co-author of <em>The Historian’s Macroscope</em> (Imperial College Press), and his research has appeared in journals spanning history, philosophy, folklore, archaeology, digital humanities, informatics, and scientometrics.</div>
			<div class='bio'>
			<img class="bio-img" src='/images/ladd.png' />
      <a href="http://www.jrladd.com" target="_blank">John Ladd</a> is the postdoctoral research fellow for Six Degrees at Carnegie Mellon and PhD Candidate in English Literature at Washington University in St. Louis. His research explores the many kinds of literary collaboration in seventeenth-century England, using social network analysis and actor-network theory. He has presented at conferences concerning book history, the digital humanities, and early modern studies, and he’s worked on a number of digital projects concerning scholarly editing, network analysis, topic modeling, and machine learning.</div>

    <h4>Grants and Support</h4>

    <img class="logo" ng-src='/images/neh.jpg' />
    <img class="logo" ng-src='/images/CMU.png' />
    <img class="logo" ng-src='/images/folger.png' />
    <img class="logo" ng-src='/images/odnb_large.gif' />
    <img class="logo" ng-src='/images/density.png' />
    <img class="logo" ng-src='/images/CLIR.gif' />
    <img class="logo" ng-src='/images/DLF.png' />
    <img class="logo" ng-src='/images/georgetown.png' />
    <img class="logo" id="studio" ng-src='/images/studio.png' />
    <img class="logo" ng-src='/images/bridges.png' />
    <img class="logo" ng-src='/images/xsede.png' />
    <img class="logo" ng-src='/images/cmu_english.png' />

    <h4>Code</h4>

    <div>
      The entire codebase for the site, which uses Angular, Ruby on Rails, and D3, is available in our <a href="https://github.com/sdfb/sdfb" target="_blank">Github repo</a>. You can also check out the <a>SDFB Network repo</a> for the R code used for network inference of the <i>Oxford Dictionary of National Biography</i>.
    </div>

    <h3>Current site:</h3>
    <div>John Ladd</div>
    <div>David Newbury</div>
    <div>Density Design Lab: Paolo Ciuccarelli, Tommaso Elli, Michele Mauri, Michele Invernizzi</div>

    <h3>Original site:</h3>
    <div>Jessica Otis</div>
    <div>Raja Sooriamurthi</div>
    <div>Student programmers: Katarina Shaw, Adetunji Olojede, Amiti Uttawar, Miko Bautista, Leonard Sokol, Ivy Chung, Sama Kanbour, Angela Qui, Chanamon Ratanalert, Ally Sorge, Katie Ramp, Jeremy Lee, Sky Krauthamer, Audrey Alpizar, Sherry Chen, Tommy Hung, Zaria Howard, David Gao, Max Harlynking, Amy Li </div>

    <div>Technical assistance on both sites from Daniel J. Evans</div>

    <h3>Network inference code:</h3>

    <div>Cosma Shalizi</div>
    <div>Lawrence Wang</div>
    <div>Mike Finegold</div>
    <div>David Walling</div>
    <div>Xinlian Liu</div>

    <h4>Data and Permissions</h4>

    <div>
      Six Degrees of Francis Bacon is pleased to share visualizations and data free of charge for use by other researchers for non-commercial purposes.
    </div>

    <div>
      Because Six Degrees of Francis Bacon is a dynamic dataset, uses of and citations to the data should always indicate date of download.  If you make use of Six of Degrees of Francis Bacon visualizations, please cite using the box on the main page. Please also tweet about any uses to <a href="http://twitter.com/6Bacon" target="_blank">@6Bacon</a> so we can be aware of how the material is used and so we can help promote your work. Six Degrees is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US" target="_blank">Creative Commons Attribution-NonCommercial-<wbr>ShareAlike 4.0 Unported License</a>.
    </div>

    <div>
      To download the current data, first sign in to your account. Click the Download link in the header to see a drop-down menu of the different data sets. Alternatively, click to bring up the data set you're interested in, which you can then either browse online or click the Export button to download the data to your computer.
    </div>

    <h4>Publications</h4>

    <div>
      Warren, Christopher, Daniel Shore, Jessica Otis, Lawrence Wang, Mike Finegold, and Cosma Shalizi, "Six Degrees of Francis Bacon: A Statistical Method for Reconstructing Large Historical Social Networks", Digital Humanities Quarterly 10.3, URL: <a href="http://digitalhumanities.org/dhq/vol/10/3/000244/000244.html" target="_blank">http://digitalhumanities.org/dhq/vol/10/3/000244/000244.html</a>
    </div>

    <div>
      Langmead, Alison, Jessica M. Otis, Christopher N. Warren, Scott B. Weingart, and Lisa D. Zilinski, "Towards Interoperable Network Ontologies for the Digital Humanities", International Journal of Humanities and Arts Computing Vol. 10, Issue 1 (Mar 2016): 22-35, DOI: <a href="https://mla.hcommons.org/deposits/item/mla:1009/" target="_blank"> http://dx.doi.org/10.3366/ijhac.2016.0157</a>
    </div>

    <div>
      Ladd, John, Jessica Otis, Christopher Warren, and Scott Weingart, "Exploring and Analyzing Network Data with Python ", The Programming Historian, URL: <a href="https://programminghistorian.org/lessons/exploring-and-analyzing-network-data-with-python" target="_blank">https://programminghistorian.org/lessons/exploring-and-analyzing-network-data-with-python</a>
    </div>

    <div>
      Project participants have also presented on Six Degrees in numerous scholarly and public venues, including the annual meetings of the American Historical Association, Modern Language Association, and History of Science Society; (Re)Building Medieval and Early Modern Networks at the University of Maryland; and the Pittsburgh Humanities Festival.
    </div>

    <h4>In the News</h4>

    <div><a href="http://6dfb.tumblr.com" target="_blank">Six Degrees of Francis Bacon blog</a></div>
		<div><a href="http://gizmodo.com/mapping-16th-century-social-networks-with-six-degrees-o-1739236038" target="_blank">Gizmodo</a></div>
		<div><a href="http://www.techtimes.com/articles/98954/20151023/carnegie-mellon-social-network-francis-bacon-georgetown-university.htm" target="_blank">Tech Times</a></div>
		<div><a href="https://www.timeshighereducation.com/humanities/six-degrees-francis-bacon-social-network-early-modern-britain" target="_blank">Times Higher Education</a></div>
		<div><a href="http://mentalfloss.com/article/70070/six-degrees-francis-bacon-shows-links-between-your-favorite-historical-figures" target="_blank">Mental Floss</a></div>
		<div><a href="http://www.dailymail.co.uk/sciencetech/article-3276520/Six-degrees-FRANCIS-BACON-Interactive-relationship-maps-shows-friends-friends-historical-figures.html?ITO=1490&ns_mchannel=rss&ns_campaign=1490" target="_blank">Daily Mail</a></div>
		<div><a href="http://www.futurity.org/six-degrees-of-francis-bacon-1026052-2/" target="_blank">Futurity</a></div>
		<div><a href="http://www.smithsonianmag.com/smart-news/move-over-kevin-six-degrees-francis-bacon-here-180956977/?no-ist" target="_blank">Smithsonian Magazine</a></div>
		<div><a href="http://www.cmu.edu/news/stories/archives/2015/october/francis-bacon-launch.html" target="_blank">Carnegie Mellon News</a></div>
		<div><a href="https://recipes.hypotheses.org/6594" target="_blank">The Recipes Project</a></div>
		<div><a href="http://www.pghcitypaper.com/Blogh/archives/2015/03/31/inaugural-pittsburgh-humanities-festival-wraps" target="_blank">Pittsburgh City Paper</a></div>
    <div><a href="https://www.tacc.utexas.edu/-/using-supercomputers-to-illuminate-the-renaissance" target="_blank">Texas Advanced Computing Center</a></div>
    <div><a href="http://www.post-gazette.com/opinion/Op-Ed/2015/12/27/The-Next-Page-Six-degrees-of-Francis-Bacon-A-new-website-seeks-to-create-a-Facebook-for-Britons-of-yore/stories/201512270100" target="_blank">Pittsburgh Post-Gazette</a></div>
    <div><a href="http://wesa.fm/term/sir-francis-bacon#stream/0" target="_blank">90.5 WESA</a></div>
    <div><a href="http://www.thehoya.com/study-maps-88-million-historical-relationships/" target="_blank">The Hoya</a></div>
    <div><a href="https://www.cmu.edu/dietrich/english/news/2017/six-degrees-of-francis-bacon-relaunch.html" target="_blank">CMU English Dept.</a></div>


    <h4>Advisory Board</h4>

      <div>David Armitage, MA, PhD, CorrFRSE, FRHistS, FAHA, Lloyd C. Blankfein Professor of History and Chair of the Department of History at Harvard University</div>
			<div>Lise Getoor, MS, PhD, Associate Professor, Department of Computer Science and University of Maryland Institute for Advanced Computer Studies</div>
			<div>Bethany Nowviskie, MA Ed, PhD, Director of the Digital Library Federation, Council on Library and Information Resources, and Research Associate Professor of Digital Humanities, University of Virginia</div>
			<div>Joad Raymond, D.Phil (Oxon), Professor of Renaissance Studies, School of English and Drama, Queen Mary, University of London</div>
      <div>Michael Witmore, PhD, Director of the Folger Shakespeare Library</div>
