<div class="modal-body help" id="modal-reset-body">
    <h3 class="modal-title">Help</h3>
    <i class="fa fa-times close-btn" aria-hidden="true" type="button" ng-click="dismiss()" aria-label="Close"></i>

    <h4>Welcome to Six Degrees of Francis Bacon!</h4>
    <div>
      There are two main ways to use the site. You can <b>explore</b> the network visualizations or <b>contribute</b> by adding people, relationships, and groups.
    </div>

    <h4>Explore</h4>

    <img class="tutorial" ng-src='/images/tutorial/search.gif' />
    <div>
      Use the search box to explore <b>people</b> in both Individual and Shared Networks, and <b>groups</b> through Individual Group Networks or the All Groups visualization.
    </div>

    <h3>People</h3>

    <img class="tutorial" ng-src='/images/tutorial/person.gif' />
    <div>
      In an individual person's graph, you can click on any person, relationship, or group (in the bar at the bottom), to get information about it. Double click on people or groups to switch to another graph, or use the search box.
    </div>

    <img class="tutorial" ng-src='/images/tutorial/filters.gif' />
    <div>
      You can switch between the Hooke view—named for 17th-century scientist <a href="http://6dfb.tumblr.com/post/159420498411/ut-tensio-sic-vis-introducing-the-hooke-graph" target="_blank">Robert Hooke</a>—and the Concentric view. You can also use date, confidence and visual density filters to control how much of the graph you see.
    </div>

    <div>
      Visual density is a new paradigm we've developed to help you control which nodes are in the graph without relying on degree or edge weight:
    </div>

    <img class="tutorial" ng-src='/images/tutorial/density.gif' />

    <div>
      And all of these functions (except the concentric view) are also available in the Shared Network visualization, which allows you to see the relationships two people have in common.
    </div>

    <img class="tutorial" ng-src='/images/tutorial/shared.png' />

    <h3>Groups</h3>
