<!-- <div class="modal-header">
    <h3 class="modal-title" id="modal-title">List of Minor Groups</h3>
</div> -->
<div class="modal-body user" id="modal-user-body">
    <h3 class="modal-title">User Information</h3>
    <i class="fa fa-times close-btn" aria-hidden="true" type="button" ng-click="dismiss()" aria-label="Close"></i>
    <div class="panel collapsable">
      <div>{{user.first_name}} {{user.last_name}}</div>
      <div>Username: {{user.username}}</div>
      <div>User ID: {{user.id}}</div>
      <div>User Type: {{user.user_type}}</div>
      <div>Affiliation: {{user.affiliation}}</div>
      <div>ORCID: {{user.orcid}}</div>
      <div>Email: {{user.email}}</div>
      <a>edit profile</a>
    </div>
    <a type="button" class="btn btn-primary" target="_blank" download="{{user.username}}.json" ng-href="{{user_download}}">Export all user info <i class="fa fa-download" aria-hidden="true"></i></a>
    <h3>You've made {{user.points}} contributions:</h3>
    <h4 class="modal-title">People</h4>
    <table class="table table-hover">
        <tbody>
            <tr class="person {{'p'+person.id}}" ng-class="{ 'active': group.active }" ng-repeat="person in user.contributions.people">
                <td><a ng-click="dismiss()" ui-sref="home.visualization({ ids: person.id })">{{person.name}}</a></td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">Relationships</h4>
    <table class="table table-hover">
        <tbody>
            <tr class="rel {{'r'+rel.id}}" ng-class="{ 'active': group.active }" ng-repeat="rel in user.contributions.relationships">
                <td>{{ rel.people }}</td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">Relationship Types</h4>
    <table class="table table-hover">
        <thead>
            <tr>
              <td class="source-column">People</td>
              <td class="target-column">Type</td>
            </tr>
        </thead>
        <tbody>
            <tr class="rel {{'r'+rel.id}}" ng-class="{ 'active': group.active }" ng-repeat="rel in user.contributions.relationship_types">
                <td>{{ rel.people }}</td>
                <td>{{ rel.type }}</td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">Groups</h4>
    <table class="table table-hover">
        <tbody>
            <tr class="group {{'g'+group.id}}" ng-class="{ 'active': group.active }" ng-repeat="group in user.contributions.groups">
                <td><a ng-click="dismiss()" ui-sref="home.visualization({ ids: group.id })">{{group.name}}</a></td>
            </tr>
        </tbody>
    </table>
    <h4 class="modal-title">Group Assignments</h4>
    <table class="table table-hover">
        <thead>
            <tr>
              <td class="person-column">Person Name</td>
              <td class="group-column">Group Name</td>
            </tr>
        </thead>
        <tbody>
            <tr class="rel {{'r'+rel.id}}" ng-class="{ 'active': group.active }" ng-repeat="rel in user.contributions.group_assignments">
                <td>{{ rel.person_name }}</td>
                <td>{{ rel.group_name }}</td>
            </tr>
        </tbody>
    </table>
    <button ng-click="close()" type="button" class="btn btn-primary">
        Close
    </button>
    <!-- <ul>
        <li class="group {{'g'+group.groupId}}" ng-class="{ 'active': group.active }" ng-repeat="group in $ctrl.groups">
            <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.group = group">Group ID: {{ group.groupId }} - Number of people: {{ group.value }}</a>
        </li>
    </ul>
    Selected: <b>{{ $ctrl.selected.group }}</b> -->
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
</div> -->
