<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="home">
          <img class="project-img" src="images/bacon.png" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a ui-sref="home">Six Degrees of Francis Bacon</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a ui-sref="home.browse">Browse</a></li> -->

          <li ng-show="$root.user.is_active" uib-dropdown>
            <a class="nav-link dropdown-toggle"  uib-dropdown-toggle style="display: inline-block; cursor: pointer;">
              Download
            </a>
            <ul uib-dropdown-menu class="dropdown-menu" style="padding:17px;" ng-click="$event.stopPropagation()">
              <li><a target="_self" href="/data/SDFB_people_2017_10_13.csv" download="SDFB_people_{{today}}.csv">People</a></li>
              <li><a target="_self" href="/data/SDFB_relationships_2017_10_13.csv" download="SDFB_relationships_{{today}}.csv">Relationships</a></li>
            </ul>
          </li>
          <li uib-dropdown>
            <a class="nav-link dropdown-toggle"  uib-dropdown-toggle style="display: inline-block; cursor: pointer;">
              Cite
            </a>
            <ul uib-dropdown-menu class="dropdown-menu" style="padding:17px;" ng-click="$event.stopPropagation()">
              <li><input readonly class="form-control" onClick="this.select()" ng-model="$root.citation" ng-model-options="{ getterSetter: true }"/></li>
            </ul>
          </li>
          <li uib-dropdown>
            <a class="nav-link dropdown-toggle"  uib-dropdown-toggle style="display: inline-block; cursor: pointer;">
              Browse
            </a>
            <ul uib-dropdown-menu class="dropdown-menu" style="padding:17px;" ng-click="$event.stopPropagation()">
              <li><a target="_blank" href ui-sref="home.recent">Recent Contributions</a></li>
              <li><a target="_blank" href ui-sref="home.people({page: 1})">People</a></li>
              <li><a target="_blank" href ui-sref="home.relationships({page: 1})">Relationships</a></li>
            </ul>
          </li>
          <li><a href ui-sref="home.about" target="_blank">About</a></li>
          <!-- <li><a href ui-sref="home.help" target="_blank">Help</a></li> -->
          <li uib-dropdown>
            <a class="nav-link dropdown-toggle"  uib-dropdown-toggle style="display: inline-block; cursor: pointer;">
              Help
            </a>
            <ul uib-dropdown-menu class="dropdown-menu" style="padding:17px;" ng-click="$event.stopPropagation()">
              <li><a target="_blank" href ui-sref="home.help">Read Tutorial</a></li>
              <li><a target="_blank" href="http://goo.gl/forms/J4u7kgI6h4">Give Feedback</a></li></ul>
          </li>
          <li class="log-in" ng-show="$root.user.is_active && $root.user.user_type !== 'Standard'"><a href ng-click="openCurate()">Curate</a></li>
          <!-- <li class="log-in"><a href ng-click="openCurate()">Curate</a></li> -->
          <li class="log-in" uib-dropdown>
            <a class="nav-link dropdown-toggle login-toggle"  uib-dropdown-toggle style="display: inline-block; cursor: pointer;">
              <span ng-show="!$root.user.is_active">Login</span>
              <span ng-show="$root.user.is_active">{{$root.user.username}}</span>
            </a>
            <div ng-show="!$root.user.is_active" uib-dropdown-menu class="dropdown-menu" style="padding:17px;" ng-click="$event.stopPropagation()">
              <form class="form" id="formLogin">
                <h3>Email</h3>
                <input class="form-control" ng-model="$root.user.email" name="email" id="email" placeholder="Email" type="text">
                <h3>Password</h3>
                <input class="form-control" ng-model="$root.user.password" name="password" id="password" placeholder="Password" type="password"><br>
                <div uib-alert close="logInFailed = false;" class="alert alert-danger" ng-show="logInFailed">Incorrect Username or Password</div>
                <button type="button" id="btnLogin" class="btn btn-primary" ng-click="logIn()">Login</button>
              </form>
              <a href ng-click="openSignup()">Sign Up</a> | <a href ng-click="openResetRequest()">Forgot Password?</a>
            </div>
            <div ng-show="$root.user.is_active" uib-dropdown-menu class="dropdown-menu user-info" style="padding:17px;" ng-click="$event.stopPropagation()">
              <h5>{{$root.user.first_name}} {{$root.user.last_name}} ({{$root.user.id}})</h5>
              <a href ng-click="openEditUser()">edit profile</a>
              <a href ng-click="logOut()">log out</a>
              <p>{{$root.user.user_type}} User</p>

              <p>Affiliation: {{$root.user.affiliation}}</p>
              <p>ORCID: {{$root.user.orcid}}</p>
              <p>Email: {{$root.user.email}}</p>
              <a ui-sref="home.user({ userId: $root.user.id })">See more</a>

              <!-- <button type="button" id="btnLogin" class="btn btn-primary" ng-click="config.login.status = false; config.contributionMode = false;">Log Out</button> -->
            </div>
            <span class=" contribution-mode-switch"><span>Contribute: <span ng-if="config.contributionMode">ON</span><span ng-if="!config.contributionMode">OFF</span> </span><i class="fa" ng-class="{ 'fa-toggle-off': config.contributionMode == false, 'fa-toggle-on': config.contributionMode == true }" aria-hidden="true" ng-click="toggleContribute()"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
