<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="home">
          <img class="project-img" src="images/bacon.png" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a ui-sref="home">Six Degrees of Francis Bacon</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="browse">Browse</a></li>

          <li uib-dropdown>
            <a class="nav-link dropdown-toggle"  uib-dropdown-toggle style="display: inline-block; cursor: pointer;">
              Download
            </a>
            <ul uib-dropdown-menu class="dropdown-menu" style="padding:17px;">
              <li><a target="_self" href="/data/SDFB_people_2017_10_13.csv" download="SDFB_people_{{today}}.csv">People</a></li>
              <li><a target="_self" href="/data/SDFB_relationships_2017_10_13.csv" download="SDFB_relationships_{{today}}.csv">Relationships</a></li>
            </ul>
          </li>
          <li><a>About</a></li>
          <li class="log-in" ng-show="config.login.status"><a href ng-click="openCurate()">Curate</a></li>
          <li class="log-in" uib-dropdown>
            <a class="nav-link dropdown-toggle login-toggle"  uib-dropdown-toggle style="display: inline-block; cursor: pointer;">
              <span ng-show="!config.login.status">Login</span>
              <span ng-show="config.login.status">{{user.username}}</span>
            </a>
            <div ng-show="!config.login.status" uib-dropdown-menu class="dropdown-menu" style="padding:17px;">
              <form class="form" id="formLogin">
                <h3>Email</h3>
                <input class="form-control" ng-model="user.email" name="email" id="email" placeholder="Email" type="text">
                <h3>Password</h3>
                <input class="form-control" ng-model="user.password" name="password" id="password" placeholder="Password" type="password"><br>
                <button type="button" id="btnLogin" class="btn btn-primary" ng-click="logIn()">Login</button>
              </form>
            </div>
            <div ng-show="config.login.status" uib-dropdown-menu class="dropdown-menu user-info" style="padding:17px;">
              <h5>{{user.first_name}} {{user.last_name}} ({{user.id}})</h5>
              <a>edit profile</a>
              <a ng-click="logOut()">log out</a>
              <p>{{user.user_type}} User</p>

              <p>Affiliation: {{user.affiliation}}</p>
              <p>ORCID: {{user.orcid}}</p>
              <p>Email: {{user.email}}</p>
              <div>You've made {{user.points}} contributions!</div>
              <div class="user-contributions">
                <h5>People</h5>
                <div ng-repeat="person in user.contributions.people">
                  <a ui-sref="home.visualization({ ids: person.id })">{{person.name}}</a>
                </div>
                <h5>Relationships</h5>
                <div ng-repeat="rel in user.contributions.relationships">
                  {{rel.people}}
                </div>
                <h5>Relationship Type Assignments</h5>
                <div ng-repeat="relType in user.contributions.relationship_types">
                  {{relType.people}}: {{relType.type}}
                </div>
                <h5>Groups</h5>
                <div ng-repeat="group in user.contributions.groups">
                  <a ui-sref="home.visualization({ ids: group.id })">{{group.name}}</a>
                </div>
                <h5>Group Assignments</h5>
                <div ng-repeat="groupAssign in user.contributions.group_assignments">
                  {{groupAssign.person_name}} in {{groupAssign.group_name}}
                </div>
              </div>

              <!-- <button type="button" id="btnLogin" class="btn btn-primary" ng-click="config.login.status = false; config.contributionMode = false;">Log Out</button> -->
            </div>
            <span class=" contribution-mode-switch"><span>Contribute: <span ng-if="config.contributionMode">ON</span><span ng-if="!config.contributionMode">OFF</span> </span><i class="fa" ng-class="{ 'fa-toggle-off': config.contributionMode == false, 'fa-toggle-on': config.contributionMode == true }" aria-hidden="true" ng-click="toggleContribute()"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
