<div class="container-fluid">
    <div class="row">

			<div class="col-md-2">
				<h4>Upload Your Data to <em>Six Degrees</em></h4>
			</div>
      <div class="col-md-10">

        <form class="form-horizontal" name="uploadForm" ng-submit="readCSV()">
          <div class="form-group">
            <div class="col-md-8">
              <textarea class="form-control" rows="8" placeholder="Paste data from your spreadsheet or drag CSV file here"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2">
              <button class="btn btn-primary" type="submit" data-loading-text="Calculating..." autocomplete="off">Upload</button>
            </div>
            <div class="col-md-8">
              <label class="radio-inline"><input type="radio" ng-model="csvType" value="people" name="optradio">People</label>
              <label class="radio-inline"><input type="radio" ng-model="csvType" value="relationships" name="optradio">Relationships</label>
              <label class="radio-inline"><input type="radio" ng-model="csvType" value="group_assignments" name="optradio">Group Assignments</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <!-- <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Global metrics
            </h4>
          </div>
          <div class="panel-body"></div>
        </div> -->
      </div>
      <div class="col-md-8" id="metrics">
        <form class="form" name="uploadPeople" ng-submit="writePeople()">
          <div ng-repeat="person in peopleRows">
            <form>
            {{person.name}} <br>
            <div ng-repeat="p in person.foundPeople">
              <label class="radio"><input type="radio" ng-model="person.choice" value="existing" name="optradio">
                Existing person: {{p.attributes.name}}, {{p.attributes.historical_significance}}, Born: {{ p.attributes.birth_year_type }} {{ p.attributes.birth_year }}, Died: {{ p.attributes.death_year_type }} {{ p.attributes.death_year }}
              </label>
            </div>
            <label class="radio"><input type="radio" ng-model="person.choice" value="new" name="optradio">New person</label>
            </form>
          </div>
        </form>
      </div>
    </div>

</div>
