<div uib-alert close="noData = false;" class="alert alert-danger" ng-show="noData">
  There are <strong>no data</strong> for these IDs. Please hit the back button or try again with a different URL.
</div>
<div class="panels-container">
  <section class="on-the-left">
    <search-panel class="panel collapsable left search" ng-class="{'collapsed' : searchClosed}"></search-panel>
    <contextual-info-panel class="panel context" ng-show=" config.viewMode != 'group-timeline' && !$parent.searchClosed " ng-class="{'contribution-mode-on': $parent.config.contributionMode}"></contextual-info-panel>
    <legend-panel class="panel timeline-legend" ng-if=" config.viewMode == 'group-timeline' && !$parent.searchClosed "></legend-panel>
    <div class="panel collapsable citation" ng-show="!$parent.searchClosed">
      Cite this:
      <input readonly class="form-control" onClick="this.select()" ng-model="citation" ng-model-options="{ getterSetter: true }"/>
    </div>
  </section>
  <div id="viz-title">
    <div>{{ config.networkName }}</div>
    <p>{{ config.networkDesc }}</p>
  </div>
  <section class="on-the-right" ng-show=" config.viewMode != 'group-timeline' ">
    <button ng-show="config.contributionMode && config.added" class="btn btn-primary contribute submit-data" ng-click="openReview()">Review & Submit<i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    <add-node ng-show="config.contributionMode && config.viewMode !== 'all'" class="panel collapsable collapsed orange-panel add-node" ng-class="{'collapsed' : addNodeClosed}"></add-node>
    <add-link ng-show="config.contributionMode && config.viewMode !== 'all'" class="panel collapsable collapsed orange-panel add-link" ng-class="{'collapsed' : addLinkClosed}"></add-link>
    <group-assign ng-show="config.contributionMode && config.viewMode !== 'all'" class="panel collapsable collapsed orange-panel add-link" ng-class="{'collapsed' : groupAssignClosed}"></group-assign>
    <add-group ng-show="config.contributionMode && config.viewMode === 'all'" class="panel collapsable collapsed orange-panel add-node" ng-class="{'collapsed' : addGroupClosed}"></add-group>

    <legend-panel class="panel collapsable" ng-class="{'collapsed' : legendClosed, 'group': config.viewMode == 'all', 'shared': config.viewMode == 'shared-network', 'individual': config.viewMode == 'individual-force' || config.viewMode == 'individual-concentric','single-group': config.viewMode == 'group-force', 'timeline': config.viewMode == 'group-timeline'}"></legend-panel>
    <filters-panel ng-show="config.viewMode !== 'all'" class="panel collapsable collapsed filters" ng-class="{'collapsed' : $root.filtersClosed, 'allGroupFilter': config.viewMode == 'all', 'individualFilter': config.viewMode == 'individual-force' || config.viewMode == 'individual-concentric' || config.viewMode == 'shared-network', 'singleGroupFilter': config.viewMode == 'single-group'}"></filters-panel>

    <people-finder class="panel collapsable collapsed" ng-class="{'collapsed' : peopleFinderClosed}"></people-finder>



    <div class="panel smallest controls">
      <span ng-click="centerNetwork()"><i class="fa fa-compress" aria-hidden="true"></i></span>
      <span ng-click="zoomIn()"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
      <span ng-click="zoomOut()"><i class="fa fa-search-minus" aria-hidden="true"></i></span>
    </div>


  </section>

</div>
<div class="visualization-container">
  <force-layout ng-hide=" config.viewMode == 'group-timeline' " ng-style="$parent.cursorStyle"></force-layout>
  <groups-bar ng-show=" config.viewMode == 'individual-force' || config.viewMode == 'individual-concentric' || config.viewMode == 'shared-network' "></groups-bar>
  <group-timeline ng-show=" config.viewMode == 'group-timeline' "></group-timeline>
</div>
