<div class="panels-container">
  <section class="on-the-left">
    <contextual-info-panel class="panel" ng-show=" config.viewMode != 'group-timeline' "></contextual-info-panel>
    <legend-panel class="panel timeline-legend" ng-if=" config.viewMode == 'group-timeline' "></legend-panel>
    <span id="viz-title">{{ networkName }}</span>
  </section>
  <section class="on-the-right" ng-show=" config.viewMode != 'group-timeline' ">
    <legend-panel class="panel collapsable" ng-class="{'collapsed' : legendClosed, 'group': config.viewMode == 'all', 'shared': config.viewMode == 'shared-network', 'individual': config.viewMode == 'individual-force' || config.viewMode == 'individual-concentric','single-group': config.viewMode == 'group-force', 'timeline': config.viewMode == 'group-timeline'}"></legend-panel>
    <filters-panel class="panel collapsable collapsed" ng-class="{'collapsed' : filtersClosed, 'allGroupFilter': config.viewMode == 'all', 'individualFilter': config.viewMode == 'individual-force' || config.viewMode == 'individual-concentric' || config.viewMode == 'shared-network', 'singleGroupFilter': config.viewMode == 'single-group'}"></filters-panel>

    <people-finder class="panel collapsable collapsed" ng-class="{'collapsed' : peopleFinderClosed}"></people-finder>

    <add-node ng-show="config.contributionMode && config.viewMode !== 'all'" class="panel collapsable collapsed orange-panel add-node" ng-class="{'collapsed' : addNodeClosed}"></add-node>
    <add-link ng-show="config.contributionMode && config.viewMode !== 'all'" class="panel collapsable collapsed orange-panel add-link" ng-class="{'collapsed' : addLinkClosed}"></add-link>
    <group-assign ng-show="config.contributionMode && config.viewMode !== 'group-force' && config.viewMode !== 'all'" class="panel collapsable collapsed orange-panel add-link" ng-class="{'collapsed' : groupAssignClosed}"></group-assign>
    <add-group ng-show="config.contributionMode && config.viewMode === 'all'" class="panel collapsable collapsed orange-panel add-node" ng-class="{'collapsed' : addGroupClosed}"></add-group>
    <span ng-show="config.contributionMode" class="panel collapsable collapsed orange-panel submit-data" ng-click="sendData()"><i class="fa fa-paper-plane-o close" style="color: white;" aria-hidden="true"></i>Submit</span>

    <div class="panel smallest controls">
      <span ng-click="centerNetwork()"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
      <span ng-click="zoomIn()"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
      <span ng-click="zoomOut()"><i class="fa fa-search-minus" aria-hidden="true"></i></span>
    </div>


  </section>

</div>
<div class="visualization-container">
  <force-layout ng-hide=" config.viewMode == 'group-timeline' "></force-layout>
  <groups-bar ng-show=" config.viewMode == 'individual-force' || config.viewMode == 'individual-concentric' || config.viewMode == 'shared-network' "></groups-bar>
  <group-timeline ng-show=" config.viewMode == 'group-timeline' "></group-timeline>
</div>
