/*@import url('http://fonts.googleapis.com/css?family=Open+Sans');*/


#accordion {
    position:relative;
    float:left;
    display:block;
    width: 310px;
    height:100%;
    overflow:visible;
	background: #78A7BF;
    z-index:5;
}

#accordion .tooltip {
    width: 125px;
}

#accordion h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 20px;
	cursor: pointer;
	color: #fff;
	background: #196B94;

}

#accordion h3.on {
	background-color: #185D80;
}

#accordion h3 span {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 15px;
    opacity: .5;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.left-accordion{
    width: 300px;
    float: left;
}

.close-right{
    width: 10px;
    height: 100%;
    background-color: #185D80;
    left: 300px;
    position: absolute;
    float: left;
}

.close-right:hover{
    opacity: .5;
    cursor: pointer;
}

.close-right p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    color: #fff;
    transition-duration: .6s;
    padding-left: 1px;
}

#nodeinfo, #add, #about{
	overflow: auto;
}

 .accordion_content section .range-input, .range-input{
  max-width:34px;
  display: inline;
  padding:0px;
  margin:0px;
 }

  .accordion_content section .range-input-date{
  max-width:50px;
 }

.accordion_content {
	display: none;
	color:#222;
	font-size:12px;
	padding: 5px 10px 5px 10px;
	line-height: 25px;
	text-align:left;
	height: auto;
	overflow-y:scroll;
    overflow-x:hidden;
}

.accordion_content .active {
    display: block;
}

.accordion_content section {
  margin: 0px 0px 0px;
	padding: 0px 15px 0px 5px;
  display: none;
}

.accordion_content section input, 
.accordion_content section button, 
.accordion_content section select,
.accordion_content section textarea {
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 22px;
    font-size: 11px;
}

.accordion_content section textarea {
    height: 60px;
}

.form-control {
    display: block;
    padding: 6px 10px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.accordion_content ul {
    text-align: center;
    margin:0px;
    list-style: none;
}

.accordion_content ul li {
	color:#fff;
	background-color: #185D80;
	float: left;
	cursor: pointer;
	padding: 0px 23px 0px 23px;
    width: auto;
    height: 45px;
    line-height: 45px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.accordion_content ul li:hover, .accordion_content ul li.clicked {
	color: #fff;	
	background-color: #78A7BF;
}

.accordion_content ul .btnl{
	background-color:#fff;
	width:95px;
	margin:3px 4px;
	color:#222;
	font-size: 12px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px; 
	border:none;
    padding:0px 3px;
    height: 36px;
    line-height: 36px;
}
.accordion_content ul .btnl.clicked,
.accordion_content ul .btnl:hover{
	background-color:#196B94;
	color:#fff;
}

.tabs{
	overflow:hidden;
	padding: 0px 20px 0px 20px;
}

.accordion_content .search-table{
	margin: 0px 0px 0px 25px;
	width:300px;
	overflow:hidden;
}

.group2{
    display: none;
}

#search, #edgeinfo, #groupinfo{

    margin:0px 0px -15px 0px;
}

#group_name{

    width:200px;
}

#add{

    padding: 0px;
}

#contribute-add-person, #contribute-add-group, #contribute-add-relationship{
    padding: 0px 27.1px;
}

.show-table{
	max-width:15px;
}

#relationship-table, .relationship-row{
	display:block;
	overflow:hidden;
	width:100%;
	
}

.relationship-row{
    float:left;

}

.relationship-cell{
    padding:1px 17px 1px 0px;
    float:left;
}

.relationship-type{
    width: 100px;
}

.relationship-confidence{
    width: 100px;    
}

.contribute-tab{
	margin-top:-20px;
}

#addedge {

}

#addtag button{
	margin:7px 0px 0px 0px;
}

#nodeinfo a, #edgeinfo a {
	color: #fff;
}

#nodeinfo p, #edgeinfo p, #groupinfo p {
	color: #fff;
	font-size:14px;
}
.fill{
    height: 10px;
    display: block;
}

.talkPageLink:hover {
    color:#fff;
    background-color:#207ca9;
    border-color:#1c6c94;
}

.talkPageLink {
	color:#fff;
	font-size:14px;
	text-align:center;
    display:block;
    margin:5px 20px 20px 20px;
    padding:5px 7px;
    background-color:#248cbe;
    border-color: #207ca9;
	font-size: 12px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px; 
    height:25px !important;
	/*-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);*/
	border:none;
    overflow: hidden;
}

.odnb-img, .jstor-img{
    height: 40px;
    margin:0px 5px 0px 5px;
}

aside ::-webkit-scrollbar {  
    width: 6px; 
}  
aside ::-webkit-scrollbar-track {  
    background-color: #78A7BF;
}  
aside ::-webkit-scrollbar-thumb {  
    background-color: #555;
}  
aside ::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}

.tt-hint {
    display: none;
}

.tt-suggestion {
    padding: 3px 10px;
    font-size: 11px;
}

.tt-dropdown-menu {
    width: 246px;
    margin-bottom: 5px;
    margin-left: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #0097cf;
    background-color: #ccc;
}

a.icon, button.icon, a.icon:hover {
    background-repeat: no-repeat;
    background-size: 15px;
    width: 30px;
    height: 30px;
    opacity: .6;
    float: right;
    border: none;
    background-position: center;
    background-color: transparent;
}

.icon-about {
    background-image: url(us.png);
}

.icon-magnify {
    background-image: url(search.png);
}

.icon-node {
    background-image: url(node.png);
}
.icon-group {
    background-image: url(group.png);
}
.icon-group:before{
    content:  "" !important;
}
.icon-edge {
    background-image: url(edge.png);
}

.icon-add {
    background-image: url(add.png);
}

.icon-annotate, .icon-annotate:hover {
    background-image: url(annotate.png);
}

.icon-label, .icon-label:hover {
    background-image: url(tag.png);
}

.icon-chain, .icon-chain:hover {
    background-image: url(link.png);
}

.icon-zoomin {
    background-image: url(zoomin.png);
}

.icon-zoomout {
    background-image: url(zoomout.png);
}

.icon-info {
    background-image: url(info.png);
}

.icon-color {
    background-image: url(colors.png);
}

.bottomFilter{
    height: 12px;
    line-height: 12px;
    background-color: #FBF3E1;
    color: #000;
    font-size: 7px;
    text-align: center;
}

.bottomFilter:hover{
    cursor: pointer;
    opacity: .6;
}
