@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

#everything{
  display: none;
}

#landing{
  background: #4281a0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  z-index: 1000;
}

#landing-open {
  width: 50%;
  margin: auto;
  padding-top: 5%;
  text-align: center;
  background: #4281a0;
}

#landing-open img {
  margin: 5%;
}

#net {
  max-width: 300px; 
  width: 90%;
}

#wel{
  font-style: italic;
  font-size: 30px;
  margin-top: 10px;
  color: white;
}

#title{
  font-size: 35px;
  padding: 5px;
  color: white;
}

#arrows{
  display: none;
  background: #4281a0;
  height: 85px;
  width: 45px;
  position: fixed;
}

#arrow-down{
  bottom: 0;
  display: block;
  margin: 0 auto;
  position: fixed;
  vertical-align: top;
  padding: 5px;
}

#arrow-up{
  bottom: 0;
  display: block;
  margin: 50 auto;
  position: fixed;
  vertical-align: middle;
  padding: 5px;
}

#skipIntro{
  color: #043b54;
  font-size: 20px;
  display: block;
  margin:0px 20px 20px 0px;
  position: absolute;
  bottom:0px;
  right:0px;
}

#landing-def{
  background: white;
  display: none;
  background: url(landing/blobbie.png) no-repeat;
  background-size: auto 83%;
  background-position: center top;
  background-color: #ecebe9;
  height: 100%;
  /*width: 100%;*/
  padding-top: 15%;
  overflow: hidden;
}

#def-info{
  background: #4281a0;
  margin: 0 auto;
  padding: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 14px;
  line-height: 25px;
  color: white;
}

#landing-what{
  display: none;
  background: #4281a0;
  height: 100%;
}

#threecircles{
  color: white;
  font-size: 20px;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  background: #07557f;
  height: 100%;
}

h5{
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
  line-height: 28px;
}

#threetable{
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#threetable td{
  width: 120px;
  color: white;
  font-size: 14px;
  line-height: 25px;
  padding: 25px;
  padding-bottom: 10px;
}

#landing-features, #landing-sidebar{
  display: none;
  background: #93afba;
  padding: 10%;
  padding-top: 5%;
  height: 100%;
  text-align: center;
}

#searches{
  width: 440px;
  margin: auto;
}

#searches td{
  width: 170px;
  color: white;
  text-align: center;
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
}

#landing-sidebar img{
  padding-top: 20px;
}