@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body {
    margin: 0;
    color: #323236;
    background-color: #ecebe9;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a, button, select {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

b {
    font-weight: 700;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    line-height: 34px;
    color: #CAE4E1;
    background: #555;
    width: 300px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 4px;
    float: left;
}

#results {
    line-height: 40px;
    color: #555;
    background: none;
    margin-left: 260px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

#graph {
    margin-left: 300px;
    height: calc(100% - 40px);
}

#zoom {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
}

/*TABLE FORMAT*/
#twogroupsmenu {
    position: absolute;
    z-index: 1000;
    display: none;
    top: 80px;
    left: 300px;
    width: calc(100% - 300px);
    margin: 0 18%;
}

#twogroupsmenu button {
  vertical-align: top;
  width: 20%;
}

#twogroupsmenu button.active {
  background-color: #185D80;
}

#check-shared[type="checkbox"]{
    display:inline;
    padding:0;
    margin:10px 5px;
    height:15px;
    width:15px;
}

#download {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(../img/dwn.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    opacity: .6;
}

/*PROGRESS BAR*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 300;
  height: 6px;
  width: calc(100% - 300px);
  background: #fff;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: width 1s ease-in-out 1s linear;
  -moz-transition: width 1s ease-in-out 1s linear;
  -ms-transition: width 1s ease-in-out 1s linear;
  -o-transition: width 1s ease-in-out 1s linear;
  transition: width 1s ease-in-out 1s linear;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: calc(100% - 300px);
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #4281a0;
}

.pace.pace-inactive {
  display: none;
}

/*CONFIDENCE SLIDER*/
#container {
  display: inline-block;
  padding: 100px 50px 0px 50px;
}

.slider {
  display: inline-block;
  width: 246px;
  height: 11px;
  background: url(../img/slider-bg.png);
  background-repeat: no-repeat; 
  position: relative;
  margin: 15px 4px;
}

.ui-slider-handle {
  display: inline-block;
  width:24px;
  height:24px;
  position:absolute;
  top:-7px;
  margin-left:-12px;
  z-index:10;
  background:url(../img/slider-button.png);
  background-repeat:no-repeat; 
}

.slider-result {
  display: inline-block;
  text-align:center;
  height: 35px;
  width: 250px;
  font-family: 'Open Sans',sans-serif;
  padding-bottom: 10px;
}

#jqi_state0_buttonOk {
  cursor: pointer;
}


/*COLOR GUIDE*/
#guide {
  display:none;
  z-index:500;
  position:absolute;
  top:20%;
  background-color: #ddd;
  border:0px solid;
  border-radius:25px;
  opacity:0.98;
  padding:20px;
  left: 50%;
  margin-left: -200px;

}

#guide-pic {
    height:300px;
    width:600px;
    padding-top:20px;
    margin-left:auto;
    margin-right:auto;
}

#cancel {
    background-image: url(../img/cancel.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
}