@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body {
    margin: 0;
    color: #323236;
    background-color: #ecebe9;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
}

a, button, select {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

b {
    font-weight: 700;
}

header {
    line-height: 34px;
    color: #CAE4E1;
    background: #555;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 4px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

#head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #555;
}



.center {

  text-align: center;
}
/*
#filterBar {
  position: absolute;
  left: 20%;
  width: 85%;
  top: 0%;
  height: 10%;
  float: left;

}

.filter {
  float: left;
  display:block;
  line-height:34px;
  padding:0px 10px 0px 10px;
}*/

#everything {
  position: relative;

}
li {
  display: inline;
}

#filterBar {
  position: absolute;
  top: 38px;
  left: 300px;
  width: 100%;
  background-color: #FBF3E1;
  line-height: 34px;
  height: 34px;
  padding-top: 10px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;

}

a:hover {
  background: rgba(0,0,0,0);
  color: #999;
  text-decoration: none;
}


#results {
    line-height: 40px;
    color: #555;
    background: none;
    margin-left: 260px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

#graph {
    position: absolute;
    top: 5%;

}

#bacon {
position: absolute;
  max-width: 100%;
}

#zoom {
  position: fixed;
  top: 10%;
  right: 10px;
  width: 30px;
}

/*TABLE FORMAT*/
#twogroupsmenu {
    position: absolute;
    z-index: 1000;
    display: none;
    top: 80px;
    left: 300px;
    width: calc(100% - 300px);
    margin: 0 18%;
}

#twogroupsmenu button {
  vertical-align: top;
  width: 20%;
}

#twogroupsmenu button.active {
  background-color: #185D80;
}

#check-shared[type="checkbox"]{
    display:inline;
    padding:0;
    margin:10px 5px;
    height:15px;
    width:15px;
}

#download {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(dwn.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    opacity: .6;
}

/*PROGRESS BAR*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 300;
  height: 6px;
  width: calc(100% - 300px);
  background: #fff;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: width 1s ease-in-out 1s linear;
  -moz-transition: width 1s ease-in-out 1s linear;
  -ms-transition: width 1s ease-in-out 1s linear;
  -o-transition: width 1s ease-in-out 1s linear;
  transition: width 1s ease-in-out 1s linear;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: calc(100% - 300px);
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #4281a0;
}

.pace.pace-inactive {
  display: none;
}

/*CONFIDENCE SLIDER*/
#container {
  display: inline-block;
  padding: 100px 50px 0px 50px;
}

.slider {
  display: inline-block;
  width: 246px;
  height: 11px;
  background: url(slider-bg.png);
  background-repeat: no-repeat; 
  position: relative;
  margin: 15px 4px;
}

.ui-slider-handle {
  display: inline-block;
  width:24px;
  height:24px;
  position:absolute;
  top:-7px;
  margin-left:-12px;
  z-index:10;
  background:url(slider-button.png);
  background-repeat:no-repeat; 
}

.slider-result {
  display: inline-block;
  text-align:center;
  height: 35px;
  width: 250px;
  font-family: 'Open Sans',sans-serif;
  padding-bottom: 10px;
}

#jqi_state0_buttonOk {
  cursor: pointer;
}


/*COLOR GUIDE*/
#guide {
  display:none;
  z-index:500;
  position:absolute;
  top:20%;
  background-color: #ddd;
  border:0px solid;
  border-radius:25px;
  opacity:0.98;
  padding:20px;
  left: 50%;
  margin-left: -200px;

}

#guide-pic {
    height:300px;
    width:600px;
    padding-top:20px;
    margin-left:auto;
    margin-right:auto;
}

#cancel {
    background-image: url(cancel.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
}


/* Navigation Menu */
/*
#user_nav{
	background-color:white;
	display:block;
	overflow:hidden;
	padding:0px 10px 0px 0px;
}

#sign{
	float:right;
	display:block;
	text-transform: uppercase;
	line-height:34px;
}

#logo{
	float:left;
	height:34px;
}

.links{
	float:right;
	display:block;
	line-height:34px;
	padding:0px 10px 0px 10px;
}

#about{
	width:800px;
	margin:auto;
}

#about h1{
	line-height:34px;
	font-size:20px;
}

#about h2{
	line-height:22px;
	font-size:16px;
}

#about td{
	vertical-align:middle;
}

#about p{
	padding:5px;

}*/

.clearfix{
	clear: both;
	content: "";
	display: block;
}