.user-profile{
  max-width: 700px;
  min-height: 300px;
}

h3{
    font-size: initial;
    line-height: initial;
}

h4{
    margin: 0;
}

.completion{
  position: absolute;
  margin: 50px;
}

.new-btn{
    background-color: #fff;
    color: #196B94;
    font-size: 14px;
    border-color: #78A7BF;
    border-radius: 10px;
    padding: 1px 6px;
    text-decoration: none;
}

.new-btn:hover{
    color: #fff;
    background-color: #78A7BF;
}

.userdata{
  padding-top: 31px;
  padding-right: 40px;
  margin-left: 310px;
}

#fullname{
    margin: 0;
    margin-top: 18px;
    font-size: 25px !important;
    font-weight: 600;
}

#username{
    padding: 0;
    margin: 0;
    font-weight: 100;
}

.progress-text{
    position: absolute;
    font-size: 40px;
    top: 38%;
    text-align: center;
    width: 200px;
    height: 100px;
    transition: .2s;
}

.progress-text:hover{
    font-size: 50px;
    top: 38%;
    cursor: default;
}

.under-text{
    font-size: 14px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%);
    text-align: center;
    font-style: italic;
    width: 50%;
}

#account-help{
    display: none;
}