table {
  font-size: 12px;
  table-layout: fixed;
  white-space: nowrap;
	text-align: left;
	overflow-y: scroll;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .id-column {
    width: 15%;
  }

  .name-column {
    width: 20%;
  }

  .sig-column {
    width: 20%;
  }

  .birth-column {
    width: 10%
  }

  .death-column {
    width: 10%;
  }

  .connections-column {
    width: 10%;
  }

  .action-column {
    width: 15%;
  }
}

table.curate, table#relationships, table#people {
  td {
    white-space: initial;
    // overflow: scroll;
    // overflow-x: scroll;
    text-overflow: initial;
  }
  .cite-column {
    width: 20%;
  }
  .created-column {
    width: 8%;
  }
  .action-column {
    width: 8%;
  }
}
table.curate.people {
  // font-size: 12px;
  // table-layout: fixed;
  // white-space: nowrap;
  //


  .name-column {
    width: 15%;
  }

  .sig-column {
    width: 20%;
  }



  .start-column {
    width: 8%
  }

  .end-column {
    width: 8%;
  }

  .gender-column {
    width: 8%;
  }
}

table.curate.rel-type {
  .source-column, .target-column {
    width: 15%;
  }
  .conf-column {
    width: 10%;
  }
}

table.more-groups {
  font-size: 12px;
  table-layout: fixed;
  white-space: nowrap;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .id-column {
    width: 15%;
  }

  .name-column {
    width: 50%;
  }

  .members-column {
    width: 20%;
  }

  .action-column {
    width: 15%;
  }
}

table.all-groups {
  font-size: 12px;
  table-layout: fixed;
  white-space: nowrap;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .id-column {
    width: 10%;
  }

  .name-column {
    width: 40%;
  }

  .start-column {
    width: 20%;
  }

  .end-column {
    width: 20%;
  }

  .action-column {
    width: 10%;
  }
}

thead {
  td {
    font-weight: 700;
  }
}

.table > tbody > tr > td:first-of-type,
.table > thead > tr > td:first-of-type {
  padding-left: 0;
}

.table > tbody > tr > td:last-of-type,
.table > thead > tr > td:last-of-type {
  padding-right: 0;
}

table#people, table#relationships {
  width: 80%;

}

.tables-container {
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
}
