<section>
  <h3 class="">Add link</h3>
  <button type="button" class="btn btn-primary" ng-click="addingLink()">Draw Link</button>
  <!-- <h4 class="paragraph-title">Source node</h4>
  <input placeholder="Search for a person" type="text" ng-model="person.selected" uib-typeahead="person for person in peopleToSelect | filter:$viewValue | limitTo:8" class="form-control">

  <h4>Target node</h4>
  <input placeholder="Search for a person" type="text" ng-model="person.selected" uib-typeahead="person for person in peopleToSelect | filter:$viewValue | limitTo:8" class="form-control">

  <h4 class="paragraph-title">Relationship type</h4>
  <input placeholder="Search for a person" type="text" ng-model="person.selected" uib-typeahead="person for person in peopleToSelect | filter:$viewValue | limitTo:8" class="form-control">

  <h4>Start date</h4>
  <div class="input-group">
    <input class="form-control" uib-datepicker-popup="{{ config.dateFormat }}" ng-model="startDate">
    <select class="input-group-addon" ng-model="selectedStartDateType" ng-options="type for type in config.dateTypes"></select><i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>

  <h4>End date</h4>
  <div class="input-group">
    <input class="form-control" uib-datepicker-popup="{{ config.dateFormat }}" ng-model="endDate">
    <select class="input-group-addon" ng-model="selectedEndDateType" ng-options="type for type in config.dateTypes"></select><i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>

  <h4>Relationship confidence level</h4>
  <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" class="with-legend"></rzslider>

  <h5>Your submission needs to be validated by SDFB staff. You will see it as unapproved contribution in the meantime.</h5>
  <button type="button" class="btn btn-primary" ng-click="">Submit</button> -->

</section>
<span class="close" ng-click="addLinkClosed = !addLinkClosed; legendClosed = true" style="color: white;">
	<i ng-if="!addLinkClosed" class="fa fa-times" aria-hidden="true"></i>
	<i ng-if="addLinkClosed" class="faXX XXfa-plus-circle" aria-hidden="true" style="display: block; width: 12.5px; height: 14px; background-image: url('./images/add-link-icon.svg'); background-repeat: no-repeat; background-size: cover;"></i>
</span>
