<section ng-if="!currentSelection.type">
    <p class="help-info">Select a person or a relation to display contextual information.</p>
</section>

<section ng-if="currentSelection.type == 'person'" id="XXXcurrent-selection-person1">
    <h2>{{currentSelection.attributes.name}}</h2>
    <p ng-if="currentSelection.attributes.historical_significance != ''">{{currentSelection.attributes.historical_significance}}</p>
    <p ng-if="currentSelection.attributes.historical_significance == ''"> &empty; </p>
    <small-timeline class="person" details="currentSelection"></small-timeline>
</section>

<section ng-if="currentSelection.type == 'relationship' ">
    <h2>{{ currentSelection.source.attributes.name }}</h2>
    <p ng-if="currentSelection.source.attributes.historical_significance != ''">{{ currentSelection.source.attributes.historical_significance }}</p>
    <p ng-if="currentSelection.source.attributes.historical_significance == ''"> &empty; </p>
    <small-timeline class="person" details="currentSelection.source"></small-timeline>
</section>
<section ng-if="currentSelection.type == 'relationship' ">
    <small-timeline class="relationship" details="currentSelection"></small-timeline>
</section>
<section ng-if="currentSelection.type == 'relationship' ">
    <h2>{{ currentSelection.target.attributes.name }}</h2>
    <p ng-if="currentSelection.target.attributes.historical_significance != ''">{{ currentSelection.target.attributes.historical_significance }}</p>
    <p ng-if="currentSelection.target.attributes.historical_significance == ''"> &empty; </p>
    <small-timeline class="person" details="currentSelection.target"></small-timeline>
</section>

<section id="more-info" ng-if="currentSelection.type">
    <p>
        <button type="button" class="btn btn-primary" ng-click="searchODNB(currentSelection.attributes.odnb_id,currentSelection.attributes.name)">ODNB</button>
        <button type="button" class="btn btn-primary" ng-click="searchJstor(currentSelection.attributes.name.replace(' ','+'))">J Stor</button>
        <button type="button" class="btn btn-primary" ng-click="searchGoogle(currentSelection.attributes.name.replace(' ','+'))">Google</button>
    </p>
    <p><a href="http://www.sixdegreesoffrancisbacon.com/people/{{currentSelection.id}}" target="_blanc">Further info&hellip;</a></p>
</section>
