<section ng-if="!currentSelection.type">
    <p>Select a person or a relation to display contextual information.</p>
</section>
<section ng-if="currentSelection.type" id="current-selection-person1">
    <h2>{{currentSelection.attributes.name}}</h2>
    <p ng-if="currentSelection.attributes.historical_significance != ''">{{currentSelection.attributes.historical_significance}}</p>
    <p ng-if="currentSelection.attributes.historical_significance == ''"> &empty; </p>
    <small-timeline details="currentSelection"></small-timeline>
</section>

<section id="current-selection-relationships" ng-if="currentSelection.relationships">Rels</section>
<section id="current-selection-person2" ng-if="currentSelection.person2">second person</section>

<section id="more-info" ng-if="currentSelection.type">
    <p>
        <button type="button" class="btn btn-primary" ng-click="searchODNB('990')">ODNB</button>
        <button type="button" class="btn btn-primary" ng-click="searchJstor(currentSelection.attributes.name.replace(' ','+'))">J Stor</button>
        <button type="button" class="btn btn-primary" ng-click="searchGoogle(currentSelection.attributes.name.replace(' ','+'))">Google</button>
    </p>
    <p><a href="http://www.sixdegreesoffrancisbacon.com/people/{{currentSelection.id}}" target="_blanc">Further info&hellip;</a></p>
</section>
