<section class="force-layout">
	<h3 class="">Filters</h3>
	<div>
		<h4>Relationships confidence level</h4>
		<div class="confidence-container"></div>
		<h5>The likelihood that a particular relationship existed</h5>
	</div>
	<div>
		<h4>Relationships date range</h4>
		<div class="date-container"></div>
		<h5>Temporal window in which relationships existed</h5>
	</div>
	<div>
		<h4>Visual density</h4>
		<div class="density-container"></div>
		<h5>Hover on a value to learn more</h5>
	</div>
</section>
<span class="close" ng-click="filtersClosed = !filtersClosed">
	<i ng-if="!filtersClosed" class="fa fa-times" aria-hidden="true"></i>
	<i ng-if="filtersClosed" class="fa fa-filter" aria-hidden="true"></i>
</span>
