<section class="legend force-layout">
	<h3 class="text-center">Legend</h3>
	
	<p class="legend-text">Size of nodes indicates number of connection</p>
	
	<p class="legend-text">Color of edges is relationship certainty</p>
	
	<p class="legend-text">Color of nodes is degree of separation</p>
</section>
<span class="close" ng-click="legendOpen = !legendOpen">
	<i ng-if="!legendOpen" class="fa fa-times" aria-hidden="true"></i>
	<i ng-if="legendOpen" class="fa fa-question" aria-hidden="true"></i>
</span>