<section class="legend-panel">
  <h3 class="">Legend</h3>
  <div ng-if=" config.viewMode == 'individual-force' || config.viewMode == 'individual-concentric' ">
    <div class="legend-box">
      <div class="legend-line"></div>
      <div class="flex-container">
        <div class="flex-item legend-circle origin"></div>
        <div class="flex-item legend-circle first-degree"></div>
        <div class="flex-item legend-circle second-degree"></div>
      </div>
      <div class="flex-container">
        <div class="flex-item legend-text">Origin</div>
        <div class="flex-item legend-text">1st degree</div>
        <div class="flex-item legend-text">2nd</div>
      </div>
    </div>
    <h5>Color of nodes is degree of separation</h5>
    <div class="legend-box legend-size">

    </div>
    <h5>Size of nodes indicates number of connections</h5>
    <div class="legend-box">
      <div class="flex-container">
        <div class="flex-item legend-edge legend-text centered">Inferred<br/>Computationally</div>
        <div class="flex-item legend-edge legend-text centered">Human<br/>Curated</div>
      </div>
    </div>
    <h5>Color of edges is relationship certainty</h5>
  </div>
  <div ng-if=" config.viewMode == 'shared' ">
    Legend for Shared Network
  </div>
  <div ng-if=" config.viewMode == 'all' ">
    Legend for ALL the groups
  </div>
  <div ng-if=" config.viewMode == 'single-group' ">
    Legend for single group
  </div>
</section>
<span class="close" ng-click="legendClosed = !legendClosed">
	<i ng-if="!legendClosed" class="fa fa-times" aria-hidden="true"></i>
	<i ng-if="legendClosed" class="fa fa-question" aria-hidden="true"></i>
</span>
