<h3 class="text-center">Legend</h3>
<span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>

<section class="legend force-layout">
	<svg width="91px" height="47px" viewBox="0 0 91 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <defs>
	        <circle id="path-1" cx="16" cy="23" r="4"></circle>
	        <circle id="path-2" cx="68.5" cy="22.5" r="22.5"></circle>
	    </defs>
	    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <g id="legend-individual-network-blue" transform="translate(-109.000000, -60.000000)">
	            <g id="size" transform="translate(108.000000, 61.000000)">
	                <g id="Oval">
	                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
	                    <circle stroke="#4A4A4A" stroke-width="1" cx="16" cy="23" r="4.5"></circle>
	                </g>
	                <g id="Oval-Copy">
	                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-2"></use>
	                    <circle stroke="#4A4A4A" stroke-width="1" cx="68.5" cy="22.5" r="23"></circle>
	                </g>
	                <text id="1" font-family="OpenSans, Open Sans" font-size="12" font-weight="normal" line-spacing="20" fill="#2D2D2D">
	                    <tspan id="legend-size-min" x="0.0693359375" y="25">{{ sizeMin }}</tspan>
	                </text>
	                <text id="99999" font-family="OpenSans, Open Sans" font-size="12" font-weight="normal" line-spacing="20" fill="#2D2D2D">
	                    <tspan class="size-max" x="51.3466797" y="25">{{ sizeMax }}</tspan>
	                </text>
	            </g>
	        </g>
	    </g>
	</svg>
	<p class="legend-text">Size of nodes indicates number of connection</p>

<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="238px" height="28.3px" viewBox="0 0 238 28.3" style="enable-background:new 0 0 238 28.3;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#2D2D2D;}
	.st1{font-family:'OpenSans';}
	.st2{font-size:12px;}
	.st3{fill:none;stroke:#4A4A4A;stroke-linecap:square;}
	.st4{opacity:0.35;fill:none;stroke:#4A4A4A;stroke-linecap:square;enable-background:new    ;}
</style>
<defs>
</defs>
<g id="Symbols_1_">
	<g id="legend-individual-network-blue_1_" transform="translate(-47.000000, -160.000000)">
		<g id="edges_1_" transform="translate(47.000000, 159.000000)">
			<g id="Group-5_1_">
				<text transform="matrix(1 0 0 1 166.085 11.2832)" class="st0 st1 st2">Human</text>
				<text transform="matrix(1 0 0 1 207.5049 11.2832)" class="st0 st1 st2"> </text>
				<text transform="matrix(1 0 0 1 164.5 24.2832)" class="st0 st1 st2">Curated</text>
				<text transform="matrix(1 0 0 1 27.5664 11.2832)" class="st0 st1 st2">Inferred</text>
				<text transform="matrix(1 0 0 1 72.959 11.2832)" class="st0 st1 st2"> </text>
				<text transform="matrix(1 0 0 1 4 24.2832)" class="st0 st1 st2">Computationally</text>
				<path id="Line_1_" class="st3" d="M137.5,28.8h100"/>
				<path id="Line-Copy_1_" class="st4" d="M0.5,28.8h100"/>
			</g>
		</g>
	</g>
</g>
</svg>


	<p class="legend-text">Color of edges is relationship certainty</p>

<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In  -->
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="242.1px" height="35.3px" viewBox="0 0 242.1 35.3" style="enable-background:new 0 0 242.1 35.3;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#2D2D2D;}
	.st1{font-family:'OpenSans';}
	.st2{font-size:12px;}
	.st3{fill:none;stroke:#4A4A4A;stroke-linecap:square;}
	.st4{fill:#93B9D2;}
	.st5{fill:none;stroke:#FFFFFF;}
	.st6{fill:#D7D3D9;}
	.st7{fill:#0A8CE4;}
</style>
<defs>
</defs>
<g id="Symbols_1_">
	<g id="legend-individual-network-blue_1_" transform="translate(-47.000000, -256.000000)">
		<g id="color_1_" transform="translate(46.000000, 257.000000)">
			<text transform="matrix(1 0 0 1 1 31)" class="st0 st1 st2">Origin</text>
			<text transform="matrix(1 0 0 1 179.3867 31)" class="st0 st1 st2">2nd degree</text>
			<text transform="matrix(1 0 0 1 85.7656 31)" class="st0 st1 st2">1st degree</text>
			<path id="Line_1_" class="st3" d="M19.1,7.5h192"/>
			<g id="Oval-2_1_">
				<g>
					<circle id="path-1_1_" class="st4" cx="117.6" cy="7" r="7"/>
				</g>
				<circle class="st5" cx="117.6" cy="7" r="7.5"/>
			</g>
			<g id="Oval-2-Copy_1_">
				<g>
					<circle id="path-2_1_" class="st6" cx="212.6" cy="7" r="7"/>
				</g>
				<circle class="st5" cx="212.6" cy="7" r="7.5"/>
			</g>
			<g id="Rectangle-6_1_" transform="translate(20.000000, 7.000000) scale(-1, 1) translate(-20.000000, -7.000000) ">
				<g>
					<path id="path-3_1_" class="st7" d="M19.4,0L19.4,0c3.9,0,7,3.1,7,7l0,0c0,3.9-3.1,7-7,7l0,0c-3.9,0-7-3.1-7-7l0,0
						C12.4,3.1,15.5,0,19.4,0z"/>
				</g>
				<path class="st5" d="M19.4-0.5L19.4-0.5c4.1,0,7.5,3.4,7.5,7.5l0,0c0,4.1-3.4,7.5-7.5,7.5l0,0c-4.1,0-7.5-3.4-7.5-7.5l0,0
					C11.9,2.9,15.2-0.5,19.4-0.5z"/>
			</g>
		</g>
	</g>
</g>
</svg>


	<p class="legend-text">Color of nodes is degree of separation</p>

</section>









