<uib-tabset active="config.viewObject" justified="true">
    <uib-tab index="0" heading="People">
        <h4>Individual Network</h4>
        <!-- <pre>Model: {{personSelected | json}}</pre> -->
        <input placeholder="Search for a person" type="text" ng-model="personSelected" uib-typeahead="person for person in people | filter:$viewValue | limitTo:8" class="form-control">
        <h5>Search here<span ng-if="config.viewMode!='all'"> or double click on a node</span><span ng-if="config.viewMode=='all'"> for a person</span></h5>
        <h4>Shared Network</h4>
        <!-- <pre>Model: {{selected2 | json}}</pre> -->
        <input ng-disabled="true" placeholder="Search for another person" type="text" ng-model="selected2" uib-typeahead="person for person in people | filter:$viewValue | limitTo:8" class="form-control">
        <h5>Add a person to visualize a shared network</h5>
        <h4>Visualization layout</h4>
        <!-- <pre>{{config.viewMode || 'null'}}</pre> -->
        <div class="btn-group btn-group-justified">
            <label class="btn btn-primary" ng-model="config.viewMode" uib-btn-radio="'individual-force'">Hooke</label>
            <label class="btn btn-primary" ng-model="config.viewMode" uib-btn-radio="'individual-concentric'">Concentric</label>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Groups">
        <h4>Search a group</h4>
        <input placeholder="Type here groups names" type="text" ng-model="groupSelected" uib-typeahead="group for group in groups | filter:$viewValue | limitTo:8" class="form-control">
        <h5>Search here or double click on a node</h5>
        <h4>All Groups</h4>
        <div class="btn-group btn-group-justified">
            <label class="btn btn-primary" ng-model="config.viewMode" uib-btn-radio="'all'">Show All</label>
        </div>
        <h5>Show a network of all the groups</h5>
        <h4>Visualization layout</h4>
        <div class="btn-group btn-group-justified">
            <label class="btn btn-primary" ng-model="config.viewMode" uib-btn-radio="'group-force'">Hooke</label>
            <label class="btn btn-primary" ng-model="config.viewMode" uib-btn-radio="'group-timeline'" ng-disabled="true">Timeline</label>
        </div>
    </uib-tab>
</uib-tabset>
