<div class="panels-container">
	<section class="on-the-left">
		<search-panel class="panel left" style="background-color: white;"></search-panel>
  	<contextual-info-panel class="panel"></contextual-info-panel>
	</section>
	<section class="on-the-right">
		<legend-panel class="panel" ng-class="{'collapsed' : legendOpen}"></legend-panel>
		<div class="panel smallest controls">
			<span><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
			<span><i class="fa fa-search-plus" aria-hidden="true"></i></span>
			<span><i class="fa fa-search-minus" aria-hidden="true"></i></span>
			<span><i class="fa fa-sliders" aria-hidden="true"></i></span>
		</div>
	</section>
</div>

<div class="visualization-container">
	<force-layout ng-show="config.viewObject == 0 && config.viewMode == 'force'"></force-layout>
	<concentric-layout ng-show="config.viewObject == 0 && config.viewMode == 'concentric'"></concentric-layout>
	<groups-bar ng-if="config.viewObject == 0"></groups-bar>
</div>