<div class="navbar" id ="head">
  	<ul>
        <header><a href="/">Six Degrees of Francis Bacon</a></header><img src="http://i.imgur.com/oHah5Lz.jpg" id="bacon" /img>

		<ul class="nav pull-right">
			
			<% if current_user %>
				<li><%= link_to current_user.email, user_path(current_user) %></li>
				<li><%= link_to "Sign out", sign_out_path %></li>
			<% else %>
				<li><%= link_to "Sign in", sign_in_path %></li>
			<% end %>
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Blog</a></li>

	  	</ul>
	

  	</ul>

</div>