<div class="navbar" id ="head">
  	<ul>
        <header><a href="/">Six Degrees of Francis Bacon</header><%= image_tag "BETA.jpg", id: "bacon", alt: "BETA" %></a>

		<ul class="nav pull-right">
			
			<% if current_user %>
				<li><%= link_to current_user.email, user_path(current_user) %></li>
				<li><%= link_to "Sign out", sign_out_path %></li>
			<% else %>
				<li><%= link_to "Sign in", sign_in_path %></li>
			<% end %>
			<li><a href="/about">About</a></li>
			<li><a href="/help">Help</a></li>
			<li><a href="http://sixdegreesoffrancisbacon.com/">Blog</a></li>
	  	</ul>
	</ul>
</div>